Metadados/resources/schema/CustomerContract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.oi.net.br/SID/CST/Customer/v1" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.oi.net.br/SID/CST/Customer/v1">
  <complexType name="CustomerContract">
    <sequence>
      <element name="contractedInstallationPoints" minOccurs="0" type="string"/>
      <element name="contractedPackageName" minOccurs="0" type="string"/>
      <element name="contractedPlanName" minOccurs="0" type="string"/>
      <element name="contractedSpeed" minOccurs="0" type="string"/>
      <element name="id" minOccurs="0" type="string"/>
    </sequence>
  </complexType>
</schema>