Metadados/resources/schema/CustomerContact.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.oi.net.br/SID/CST/Customer/v1" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.oi.net.br/SID/CST/Customer/v1">
  <complexType name="CustomerContact">
    <sequence>
      <element name="phoneNumber" minOccurs="0" type="string"/>
      <element name="name" minOccurs="0" type="string"/>
    </sequence>
  </complexType>
</schema>