Metadados/resources/schema/cwf.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema targetNamespace="http://www.conceptwave.com/system"	
	xmlns="http://www.w3.org/2001/XMLSchema"	
	xmlns:cwf="http://www.conceptwave.com/system"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">




	<annotation>
		<documentation>ConceptWave system namespace</documentation>
		<appinfo>
			<label>ConceptWave System</label>
		</appinfo>
	</annotation>

	<!-- Data types and elements -->

	<simpleType name="NClob">
		<annotation>
			<documentation>National CLOB</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="NVarChar">
		<annotation>
			<documentation>Extend this datatype in your user metadata and specify a valid length. Database column will be created with type NVARCHAR2 if a length is specified. Otherwise it will default to type NCLOB</documentation>
			<appinfo>
				<label>National String</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="String64">
		<annotation>
			<documentation>String64</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="allCalendars">
		<annotation>
			<documentation>All calendars</documentation>
		</annotation>
		<restriction base="cwf:calendar">
		</restriction>
	</simpleType>

	<simpleType name="allCompensates">
		<annotation>
			<documentation>All Compensates</documentation>
		</annotation>
		<restriction base="cwf:compensate">
		</restriction>
	</simpleType>

	<simpleType name="allMilestones">
		<annotation>
			<documentation>All Milestones</documentation>
		</annotation>
		<restriction base="cwf:milestone">
		</restriction>
	</simpleType>

	<simpleType name="allPriorities">
		<annotation>
			<documentation>All priorities</documentation>
		</annotation>
		<restriction base="cwf:priority">
			<enumeration value="1">
				<annotation>
					<documentation>High</documentation>
				</annotation>
			</enumeration>
			<enumeration value="8">
				<annotation>
					<documentation>Normal</documentation>
				</annotation>
			</enumeration>
			<enumeration value="15">
				<annotation>
					<documentation>Low</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="allStates">
		<annotation>
			<documentation>All States</documentation>
		</annotation>
		<restriction base="cwf:state">
		</restriction>
	</simpleType>

	<simpleType name="anyURI">
		<annotation>
			<documentation></documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="applicationNames">
		<annotation>
			<documentation>Application name</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
			<enumeration value="none">
				<annotation>
					<documentation>No applications available</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="calendar">
		<annotation>
			<documentation>Calendar</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="80"/>
		</restriction>
	</simpleType>

	<simpleType name="compensate">
		<annotation>
			<documentation>Compensate</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="6"/>
		</restriction>
	</simpleType>

	<simpleType name="cwCreated">
		<annotation>
			<documentation>System created timestamp</documentation>
		</annotation>
		<restriction base="xsd:dateTime">
		</restriction>
	</simpleType>

	<simpleType name="cwCreatedBy">
		<annotation>
			<documentation>System created by</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="cwDbEnum">
		<annotation>
			<documentation>Standard DB enumeration</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="cwDbEnumName">
		<annotation>
			<documentation>Standard DB enumeration name</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="cwDocId">
		<annotation>
			<documentation>System document ID</documentation>
		</annotation>
		<restriction base="cwf:docId">
		</restriction>
	</simpleType>

	<simpleType name="cwDocId64">
		<annotation>
			<documentation>System document ID 64</documentation>
		</annotation>
		<restriction base="cwf:docId">
			<maxLength value="10"/>
		</restriction>
	</simpleType>

	<simpleType name="cwDocStamp">
		<annotation>
			<documentation>System doc stamp</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="cwDocType">
		<annotation>
			<documentation>System document type</documentation>
		</annotation>
		<restriction base="cwf:metadataId">
		</restriction>
	</simpleType>

	<simpleType name="cwDynamicCT">
		<annotation>
			<documentation>Dynamic code table</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="cwOrderCreationDate">
		<annotation>
			<documentation>System order creation timestamp</documentation>
		</annotation>
		<restriction base="xsd:dateTime">
		</restriction>
	</simpleType>

	<simpleType name="cwOrderId">
		<annotation>
			<documentation>System order ID</documentation>
		</annotation>
		<restriction base="cwf:docId">
		</restriction>
	</simpleType>

	<simpleType name="cwOriginalId">
		<annotation>
			<documentation>System Document Original ID</documentation>
		</annotation>
		<restriction base="cwf:docId">
		</restriction>
	</simpleType>

	<simpleType name="cwParentId">
		<annotation>
			<documentation>System parent ID</documentation>
		</annotation>
		<restriction base="cwf:docId">
		</restriction>
	</simpleType>

	<simpleType name="cwTypeNo">
		<annotation>
			<documentation>System doc type number</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="date">
		<annotation>
			<documentation></documentation>
		</annotation>
		<restriction base="xsd:date">
			<pattern value="MM/dd/yyyy"/>
		</restriction>
	</simpleType>

	<simpleType name="dateTimeMin">
		<annotation>
			<documentation>Date/Time (min)</documentation>
		</annotation>
		<restriction base="xsd:dateTime">
			<pattern value="MM/dd/yyyy HH:mm"/>
		</restriction>
	</simpleType>

	<simpleType name="dateTimeSec">
		<annotation>
			<documentation>Date/Time (sec)</documentation>
		</annotation>
		<restriction base="xsd:dateTime">
			<pattern value="MM/dd/yyyy HH:mm:ss"/>
		</restriction>
	</simpleType>

	<simpleType name="docId">
		<annotation>
			<documentation>Document ID</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="dynamicDatasource">
		<annotation>
			<documentation>dynamicDatasource</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="globalProcMetaId">
		<annotation>
			<documentation>Numeric global process type</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="globalScripts">
		<annotation>
			<documentation>Script</documentation>
		</annotation>
		<restriction base="cwf:metadataId">
		</restriction>
	</simpleType>

	<simpleType name="guid">
		<annotation>
			<documentation>GUID</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="iReference">
		<annotation>
			<documentation>Native reference</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="19"/>
		</restriction>
	</simpleType>

	<simpleType name="interOper">
		<annotation>
			<documentation>Interface operation</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="interOperFQ">
		<annotation>
			<documentation>Fully qualified interface operation</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="languages">
		<annotation>
			<documentation>Language</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="5"/>
		</restriction>
	</simpleType>

	<simpleType name="lastUpdatedDate">
		<annotation>
			<documentation>System last updated timestamp</documentation>
		</annotation>
		<restriction base="xsd:dateTime">
		</restriction>
	</simpleType>

	<simpleType name="metaDocuments">
		<annotation>
			<documentation>Document type</documentation>
		</annotation>
		<restriction base="cwf:metadataId">
		</restriction>
	</simpleType>

	<simpleType name="metaDocumentsFQ">
		<annotation>
			<documentation>Fully qualified document type</documentation>
		</annotation>
		<restriction base="cwf:metadataId">
		</restriction>
	</simpleType>

	<simpleType name="metaFinders">
		<annotation>
			<documentation>Finder type</documentation>
		</annotation>
		<restriction base="cwf:metadataId">
		</restriction>
	</simpleType>

	<simpleType name="metaInterfaces">
		<annotation>
			<documentation>Interface type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="metaInterfacesId">
		<annotation>
			<documentation>Numeric interface type</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="metaOrdAndWiz">
		<annotation>
			<documentation>Order or wizard type</documentation>
		</annotation>
		<restriction base="cwf:metadataId">
		</restriction>
	</simpleType>

	<simpleType name="metaOrders">
		<annotation>
			<documentation>Order type</documentation>
		</annotation>
		<restriction base="cwf:metadataId">
		</restriction>
	</simpleType>

	<simpleType name="metaParticipants">
		<annotation>
			<documentation>Participant type</documentation>
		</annotation>
		<restriction base="cwf:metadataId">
		</restriction>
	</simpleType>

	<simpleType name="metaUserParticipants">
		<annotation>
			<documentation>User participant type</documentation>
		</annotation>
		<restriction base="cwf:metadataId">
		</restriction>
	</simpleType>

	<simpleType name="metadataId">
		<annotation>
			<documentation>Metadata ID (string)</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="metadataIntId">
		<annotation>
			<documentation>Numeric metadata type</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="metadataVer">
		<annotation>
			<documentation>Metadata Version</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="milestone">
		<annotation>
			<documentation>Milestone</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="module">
		<annotation>
			<documentation>Module</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="2"/>
			<enumeration value="0">
				<annotation>
					<documentation>User Interface</documentation>
				</annotation>
			</enumeration>
			<enumeration value="1">
				<annotation>
					<documentation>Persistence</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Data/System</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Metadata</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4">
				<annotation>
					<documentation>Process Engine</documentation>
				</annotation>
			</enumeration>
			<enumeration value="5">
				<annotation>
					<documentation>Javascript Interpreter</documentation>
				</annotation>
			</enumeration>
			<enumeration value="6">
				<annotation>
					<documentation>External Interface</documentation>
				</annotation>
			</enumeration>
			<enumeration value="7">
				<annotation>
					<documentation>DB Stored Procedure</documentation>
				</annotation>
			</enumeration>
			<enumeration value="8">
				<annotation>
					<documentation>User Profile</documentation>
				</annotation>
			</enumeration>
			<enumeration value="9">
				<annotation>
					<documentation>Testing</documentation>
				</annotation>
			</enumeration>
			<enumeration value="10">
				<annotation>
					<documentation>Other</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="nReference">
		<annotation>
			<documentation>Numeric reference</documentation>
		</annotation>
		<restriction base="xsd:decimal">
		</restriction>
	</simpleType>

	<simpleType name="optionalItems">
		<annotation>
			<documentation>Optional item(s)</documentation>
		</annotation>
		<restriction base="cwf:metadataId">
		</restriction>
	</simpleType>

	<simpleType name="orderId">
		<annotation>
			<documentation>Order ID</documentation>
		</annotation>
		<restriction base="cwf:docId">
		</restriction>
	</simpleType>

	<simpleType name="orderMetaId">
		<annotation>
			<documentation>Numeric order type</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="participantOper">
		<annotation>
			<documentation>Participant operation</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="256"/>
		</restriction>
	</simpleType>

	<simpleType name="priority">
		<annotation>
			<documentation>Priority</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="2"/>
			<minInclusive value="1"/>
			<maxInclusive value="15"/>
		</restriction>
	</simpleType>

	<simpleType name="privilege">
		<annotation>
			<documentation>Privilege</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="privilegeDescription">
		<annotation>
			<documentation>privilegeDescription</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="80"/>
		</restriction>
	</simpleType>

	<simpleType name="procMetaId">
		<annotation>
			<documentation>Numeric process type</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="processId">
		<annotation>
			<documentation>Process ID</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="sReference">
		<annotation>
			<documentation>Reference</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="severity">
		<annotation>
			<documentation>Severity</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="1"/>
			<enumeration value="0">
				<annotation>
					<documentation>Debug</documentation>
				</annotation>
			</enumeration>
			<enumeration value="1">
				<annotation>
					<documentation>Information</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Warning</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Error</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4">
				<annotation>
					<documentation>Fatal Error</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="state">
		<annotation>
			<documentation>State</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="sysGuid">
		<annotation>
			<documentation>System GUID</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="sysMDVersionNo">
		<annotation>
			<documentation>System metadata version</documentation>
		</annotation>
		<restriction base="xsd:decimal">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="sysStoredVisualKey">
		<annotation>
			<documentation>System stored visual key</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="systemPrivileges">
		<annotation>
			<documentation>System Privileges</documentation>
		</annotation>
		<restriction base="cwf:privilege">
			<enumeration value="PMAdmin">
				<annotation>
					<documentation>Process Manager Administrator</documentation>
				</annotation>
			</enumeration>
			<enumeration value="UPAdmin">
				<annotation>
					<documentation>User Profile Administrator</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLAdmin">
				<annotation>
					<documentation>Worklist Administrator</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RTAdmin">
				<annotation>
					<documentation>Runtime Administrator</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CWApi">
				<annotation>
					<documentation>ConceptWave API Access</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PRPriority">
				<annotation>
					<documentation>Set Process Priority</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Everyone">
				<annotation>
					<documentation>Everyone</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WGSelect">
				<annotation>
					<documentation>Workgroup Select</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WDelegate">
				<annotation>
					<documentation>Delegate Task</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WTakeOn">
				<annotation>
					<documentation>Take on Task</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WGManager">
				<annotation>
					<documentation>Group Manager</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CWAdminApp">
				<annotation>
					<documentation>Administration App</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WReturn">
				<annotation>
					<documentation>Return Task</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WGAvailable">
				<annotation>
					<documentation>Get Available</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AddFavorite">
				<annotation>
					<documentation>Add Shared Favorites</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DelFavorite">
				<annotation>
					<documentation>Delete Shared Favorites</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ShowError">
				<annotation>
					<documentation>Show Error Details</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="updatedBy">
		<annotation>
			<documentation>System updated by</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="userId">
		<annotation>
			<documentation>User ID </documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="userIdRef">
		<annotation>
			<documentation>User ID</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="userProcMetaId">
		<annotation>
			<documentation>Numeric user process type</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="usersPerPriv">
		<annotation>
			<documentation>Participant user</documentation>
		</annotation>
		<restriction base="cwf:userId">
		</restriction>
	</simpleType>

	<simpleType name="xslFo">
		<annotation>
			<documentation>XslFo file</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<!-- Structures -->

	<!-- Documents -->

</schema>
