Metadados/resources/schema/FTTHOrderManagementInterface.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema elementFormDefault="qualified" targetNamespace="FTTHOrderManagementInterface"	
	xmlns="http://www.w3.org/2001/XMLSchema"	
	xmlns:FTTHOrderManagementInterface="FTTHOrderManagementInterface"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	xmlns:cwf="http://www.conceptwave.com/system"	
	xmlns:FTTHCommon="FTTHCommon"	
	xmlns:FTTHClickInterface="FTTHClickInterface"	
	xmlns:cwf_pm="http://www.conceptwave.com/products/pm"	
	xmlns:cwt_common="http://www.conceptwave.com/templates/common">



	<import namespace="http://www.conceptwave.com/system" schemaLocation="cwf.xsd"/>
	<import namespace="FTTHCommon" schemaLocation="FTTHCommon.xsd"/>
	<import namespace="FTTHClickInterface" schemaLocation="FTTHClickInterface.xsd"/>
	<import namespace="http://www.conceptwave.com/products/pm" schemaLocation="cwf_pm.xsd"/>
	<import namespace="http://www.conceptwave.com/templates/common" schemaLocation="cwt_common.xsd"/>

	<annotation>
		<documentation>FTTH Order Management Interface</documentation>
	</annotation>

	<!-- Data types and elements -->

	<simpleType name="nomeBloqueio">
		<annotation>
			<documentation>Nome do Bloqueio</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="acaoType">
		<annotation>
			<documentation>acaoType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
			<enumeration value="adicionar">
				<annotation>
					<documentation>adicionar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="remover">
				<annotation>
					<documentation>remover</documentation>
				</annotation>
			</enumeration>
			<enumeration value="modificar">
				<annotation>
					<documentation>modificar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="-">
				<annotation>
					<documentation>-</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="nomeSolicitacao">
		<annotation>
			<documentation>Nome Solicitacao</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="idAtivo">
		<annotation>
			<documentation>ID Ativo</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="nomeServico">
		<annotation>
			<documentation>Serviço</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="idCatalogo">
		<annotation>
			<documentation>idCatalogo</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="erroNotificado">
		<annotation>
			<documentation>Erro Notificado</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="acao">
		<annotation>
			<documentation>acao</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="endereco_id">
		<annotation>
			<documentation>endereco_id</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="descricao">
		<annotation>
			<documentation>descricao</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="operacao">
		<annotation>
			<documentation>operacao</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="acaoCancelamento">
		<annotation>
			<documentation>acaoCancelamento</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
			<enumeration value="SUSPENDER">
				<annotation>
					<documentation>Suspensão do Processo</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CANCELAR">
				<annotation>
					<documentation>Cancelamento da Ordem</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONSULTAR">
				<annotation>
					<documentation>Consulta situação da ordem</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="status">
		<annotation>
			<documentation>status</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="erroRequisicaoOM">
		<annotation>
			<documentation>erroRequisicaoOM</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="idServico">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  ID do Servi&amp;#231;o
&lt;/p&gt;</documentation>
			<appinfo>
				<label>ID Servico</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="msgErro">
		<annotation>
			<documentation>msgErro</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="acaoPlanoType">
		<annotation>
			<documentation>acaoPlanoType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<enumeration value="adicionar">
				<annotation>
					<documentation>adicionar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="remover">
				<annotation>
					<documentation>remover</documentation>
				</annotation>
			</enumeration>
			<enumeration value="-">
				<annotation>
					<documentation>-</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="nomeProcesso">
		<annotation>
			<documentation>Nome do Processo</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="atividade">
		<annotation>
			<documentation>Atividade</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="pendenciaNotificada">
		<annotation>
			<documentation>Pendencia Notificada</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="noReturnReachNotificationType_idOrdemServico">
		<annotation>
			<documentation>noReturnReachNotificationType_idOrdemServico</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="tipoOrdem">
		<annotation>
			<documentation>Tipo da Ordem</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<!-- Structures -->

	<complexType name="planosFranquia">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Dados dos Planos de Franquia
&lt;/p&gt;</documentation>
			<appinfo>
				<label>planosFranquia</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="planoFranquia" minOccurs="0" maxOccurs="unbounded" type="FTTHOrderManagementInterface:planoFranquiaType"/>
			</sequence>
		</complexType>

	<complexType name="atributo">
		<annotation>
			<documentation>atributo</documentation>
		</annotation>
			<sequence>
				<element name="nome" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="valor" minOccurs="1" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="contatoType">
		<annotation>
			<documentation>contatoType</documentation>
		</annotation>
			<sequence>
				<element name="nome" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="numeroDocumento" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="dataNascimento" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="nomeMae" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="sexo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="email" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="telefoneContato1" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="telefoneContato2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="telefoneContato3" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="nomeConta" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="nomeRazaoSocial" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="unidadeNegocio" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="segmentoMercado" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="alertaPropensao" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="planoFranquiaType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Plano de Franquia
&lt;/p&gt;</documentation>
			<appinfo>
				<label>planoFranquiaType</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="tipoPlano" minOccurs="0" maxOccurs="1" type="FTTHOrderManagementInterface:idCatalogo"/>
				<element name="unidadeFranquia" minOccurs="0" maxOccurs="1" type="FTTHCommon:unidadeFranquia"/>
				<element name="valorFranquia" minOccurs="0" maxOccurs="1" type="FTTHCommon:valorFranquia"/>
				<element name="tipoUso" minOccurs="0" maxOccurs="1" type="FTTHCommon:tipoUso"/>
				<element name="acao" minOccurs="0" maxOccurs="1" type="FTTHCommon:acao"/>
				<element name="idCatalogo" minOccurs="0" maxOccurs="1" type="FTTHOrderManagementInterface:idCatalogo"/>
			</sequence>
		</complexType>

	<complexType name="listaDeAtributos">
		<annotation>
			<documentation>listaDeAtributos</documentation>
		</annotation>
			<sequence>
				<element name="atributo" minOccurs="0" maxOccurs="unbounded" type="FTTHOrderManagementInterface:atributo"/>
			</sequence>
		</complexType>

	<complexType name="cancelRequestWMSType">
		<annotation>
			<documentation>cancelRequestWMSType</documentation>
		</annotation>
			<sequence>
				<element name="idPedido" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="timestamp" minOccurs="1" maxOccurs="1" type="xsd:dateTime"/>
				<element name="acao" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:acaoCancelamento"/>
				<element name="numeroBA" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="IndPlantaExterna" minOccurs="0" maxOccurs="1" type="FTTHCommon:string1"/>
				<element name="IndReparo" minOccurs="0" maxOccurs="1" type="FTTHCommon:string1"/>
			</sequence>
		</complexType>

	<complexType name="planoType">
		<annotation>
			<documentation>planoType</documentation>
		</annotation>
			<sequence>
				<element name="idCatalogo" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="nome" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="acao" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:acaoPlanoType"/>
				<element name="listaDeAtributos" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:listaDeAtributos"/>
				<element name="idAtivo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="unidadeFranquia" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="valorFranquia" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="tipoUso" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="tipoPlano" minOccurs="0" maxOccurs="1" type="FTTHOrderManagementInterface:idCatalogo"/>
				<element name="qtdPontosRFOverlay" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="qtdPontosSTBDVRGratis" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="qtdPontosSTBHDGratis" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="qtdPontosSTBHDPago" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<element name="pendencia" type="FTTHOrderManagementInterface:pendenciaType"/>

	<complexType name="atributoType">
		<annotation>
			<documentation>atributoType</documentation>
		</annotation>
			<sequence>
				<element name="nome" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="valor" minOccurs="1" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="attributeType">
		<annotation>
			<documentation>atributo</documentation>
			<appinfo>
				<label>attributeType</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="nome" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="valor" minOccurs="1" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="WMSCancelRequestFinal">
		<annotation>
			<documentation>WMSCancelRequestFinal</documentation>
		</annotation>
			<complexContent>
				<extension base="FTTHOrderManagementInterface:cancelRequestFinalWMSType">
					<sequence>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="acessosType">
		<annotation>
			<documentation>acessosType</documentation>
		</annotation>
			<sequence>
				<element name="acesso" minOccurs="1" maxOccurs="unbounded" type="FTTHOrderManagementInterface:acessoType"/>
			</sequence>
		</complexType>

	<complexType name="noReturnReachNotificationType">
		<annotation>
			<documentation>noReturnReachNotificationType</documentation>
		</annotation>
			<sequence>
				<element name="idPedido" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="idOrdemServico" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:noReturnReachNotificationType_idOrdemServico"/>
				<element name="canCancel" minOccurs="1" maxOccurs="1" type="xsd:boolean"/>
				<element name="timestamp" minOccurs="1" maxOccurs="1" type="xsd:dateTime"/>
			</sequence>
		</complexType>

	<complexType name="listaAtributoType">
		<annotation>
			<documentation>listaAtributoType</documentation>
		</annotation>
			<sequence>
				<element name="atributo" minOccurs="0" maxOccurs="unbounded" type="FTTHOrderManagementInterface:atributoType"/>
			</sequence>
		</complexType>

	<complexType name="pacoteAdicionalType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Dados do Pacote Adicional do Oi IPTV
&lt;/p&gt;</documentation>
			<appinfo>
				<label>pacoteAdicionalType</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="idCatalogo" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:idCatalogo"/>
				<element name="nome" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="idAtivo" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="acao" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:acaoType"/>
			</sequence>
		</complexType>

	<complexType name="operacoesType">
		<annotation>
			<documentation>operacoesType</documentation>
		</annotation>
			<sequence>
				<element name="operacao" minOccurs="0" maxOccurs="unbounded" type="FTTHOrderManagementInterface:operacaoType"/>
			</sequence>
		</complexType>

	<complexType name="pendenciaType">
		<annotation>
			<documentation>pendenciaType</documentation>
		</annotation>
			<sequence>
				<element name="atividade" minOccurs="1" maxOccurs="1" type="cwt_common:string32"/>
				<element name="codigo" minOccurs="1" maxOccurs="1" type="cwt_common:string32"/>
				<element name="descricao" minOccurs="1" maxOccurs="1" type="cwt_common:string1024"/>
				<element name="tipo" minOccurs="1" maxOccurs="1" type="cwt_common:string32"/>
				<element name="dataAbertura" minOccurs="1" maxOccurs="1" type="xsd:dateTime"/>
				<element name="dataFechamento" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="status" minOccurs="1" maxOccurs="1" type="cwt_common:string32"/>
				<element name="listaIdsAtivos" minOccurs="1" maxOccurs="1">
					<annotation>
						<documentation>Lista de Ids de Itens</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name="idAtivo" minOccurs="0" maxOccurs="unbounded" type="FTTHCommon:idItem"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>

	<complexType name="WMSCancelRequest">
		<annotation>
			<documentation>WMSCancelRequest</documentation>
		</annotation>
			<complexContent>
				<extension base="FTTHOrderManagementInterface:cancelRequestWMSType">
					<sequence>
					</sequence>
				</extension>
			</complexContent>
		</complexType>

	<complexType name="item">
		<annotation>
			<documentation>item</documentation>
		</annotation>
			<sequence>
				<element name="idCatalogo" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="nome" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="acao" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:acaoType"/>
				<element name="atributos" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:listaDeAtributos"/>
			</sequence>
		</complexType>

	<element name="notificacao" type="FTTHOrderManagementInterface:notificacaoType"/>

	<complexType name="ordensServicoType">
		<annotation>
			<documentation>ordensServicoType</documentation>
		</annotation>
			<sequence>
				<element name="ordemServico" minOccurs="1" maxOccurs="unbounded" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="endereco">
		<annotation>
			<documentation>endereco</documentation>
		</annotation>
			<sequence>
				<element name="id" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:endereco_id"/>
				<element name="tipoLogradouro" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="nomeLogradouro" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="numero" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="tipoComplemento1" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="complemento1" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="tipoComplemento2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="complemento2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="tipoComplemento3" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="complemento3" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="codigoLocalidade" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="localidade" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="bairro" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="cidade" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="estado" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="pontoDeReferencia" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="cep" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="idLogradouro" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="siglaLocalidade" minOccurs="0" maxOccurs="1" type="FTTHCommon:siglaLocalidade"/>
			</sequence>
		</complexType>

	<complexType name="listaEnderecos">
		<annotation>
			<documentation>listaEnderecos</documentation>
		</annotation>
			<sequence>
				<element name="endereco" minOccurs="0" maxOccurs="unbounded" type="FTTHOrderManagementInterface:endereco"/>
			</sequence>
		</complexType>

	<complexType name="operacaoType">
		<annotation>
			<documentation>operacaoType</documentation>
		</annotation>
			<sequence>
				<element name="operacao" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="msgErroRequisicaoOM">
		<annotation>
			<documentation>msgErroRequisicaoOM</documentation>
		</annotation>
			<sequence>
				<element name="erro" minOccurs="0" maxOccurs="1" type="FTTHOrderManagementInterface:erroRequisicaoOM"/>
				<element name="numeroPedido" minOccurs="0" maxOccurs="1" type="FTTHCommon:numeroPedido"/>
				<element name="numeroOS" minOccurs="0" maxOccurs="1" type="FTTHCommon:numeroOS"/>
			</sequence>
		</complexType>

	<complexType name="bloqueio">
		<annotation>
			<documentation>bloqueio</documentation>
		</annotation>
			<sequence>
				<element name="acao" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="idCatalogo" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="idAtivo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<element name="requisicao" type="FTTHOrderManagementInterface:requisicao"/>

	<complexType name="servicosDigitais">
		<annotation>
			<documentation>servicosDigitais</documentation>
		</annotation>
			<sequence>
				<element name="servicoDigital" minOccurs="0" maxOccurs="unbounded" type="FTTHOrderManagementInterface:servicoDigitalType"/>
			</sequence>
		</complexType>

	<complexType name="pacotesAdicionais">
		<annotation>
			<documentation>pacotesAdicionais</documentation>
		</annotation>
			<sequence>
				<element name="pacoteAdicional" minOccurs="0" maxOccurs="unbounded" type="FTTHOrderManagementInterface:pacoteAdicionalType"/>
			</sequence>
		</complexType>

	<complexType name="itens">
		<annotation>
			<documentation>itens</documentation>
		</annotation>
			<sequence>
				<element name="servico" minOccurs="0" maxOccurs="unbounded" type="FTTHOrderManagementInterface:item"/>
			</sequence>
		</complexType>

	<complexType name="servicoDigitalType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Dados do Servi&amp;#231;o Digital do Oi VoIP
&lt;/p&gt;</documentation>
			<appinfo>
				<label>servicoDigitalType</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="acao" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:acaoType"/>
				<element name="idServico" minOccurs="1" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<element name="cancelRequestWMS" type="FTTHOrderManagementInterface:cancelRequestWMSType"/>

	<element name="noReturnNotification" type="FTTHOrderManagementInterface:noReturnReachNotificationType"/>

	<complexType name="bloqueiosType">
		<annotation>
			<documentation>bloqueiosType</documentation>
		</annotation>
			<sequence>
				<element name="bloqueio" minOccurs="0" maxOccurs="unbounded" type="FTTHOrderManagementInterface:bloqueio"/>
			</sequence>
		</complexType>

	<complexType name="cancelRequestFinalWMSType">
		<annotation>
			<documentation>cancelRequestFinalWMSType</documentation>
		</annotation>
			<sequence>
				<element name="idPedido" minOccurs="1" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="notificacaoType">
		<annotation>
			<documentation>notificacaoType</documentation>
		</annotation>
			<sequence>
				<element name="idMensagem" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="correlationId" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="operacao" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="status" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="descricao" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="timestampExecucao" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="listaAtributos" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:listaAtributoType"/>
				<element name="operacoes" minOccurs="0" maxOccurs="1" type="FTTHOrderManagementInterface:listaDeOperacoesType"/>
				<element name="pendencia" minOccurs="0" maxOccurs="1" type="FTTHOrderManagementInterface:pendenciaType"/>
				<element name="numeroBA" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="obsTecnico" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="requisicao">
		<annotation>
			<documentation>requisicao</documentation>
		</annotation>
			<sequence>
				<element name="correlationID" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="idPedido" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="idMensagem" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="nomeBundleOriginal" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="tipoBundleOriginal" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="tipoPromocaoOriginal" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="nomeBundle" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="tipoBundle" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="tipoPromocao" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="idCatalogo" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="timestamp" minOccurs="1" maxOccurs="1" type="xsd:dateTime"/>
				<element name="flagBSIM" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="aprazado" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="codAtividade" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="codPendencia" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="origemPedido" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="operacoes" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:listaDeOperacoesType"/>
				<element name="listaEnderecos" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:listaEnderecos"/>
				<element name="contato" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:contatoType"/>
				<element name="acessos" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:acessosType"/>
				<element name="versao" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="motivoRetirada" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="codigoNovaPendencia" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="acessoType">
		<annotation>
			<documentation>acessoType</documentation>
		</annotation>
			<sequence>
				<element name="idCatalogo" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="idAtivo" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="nome" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="tipoProduto" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="acao" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:acaoType"/>
				<element name="idEndereco" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="idEnderecoAntigo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="plano" minOccurs="1" maxOccurs="2" type="FTTHOrderManagementInterface:planoType"/>
				<element name="planosFranquia" minOccurs="0" maxOccurs="1" type="FTTHOrderManagementInterface:planosFranquia"/>
				<element name="bloqueios" minOccurs="0" maxOccurs="1" type="FTTHOrderManagementInterface:bloqueiosType"/>
				<element name="atributos" minOccurs="0" maxOccurs="1" type="FTTHOrderManagementInterface:listaDeAtributos"/>
				<element name="servicos" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:servicos"/>
				<element name="servicosDigitais" minOccurs="0" maxOccurs="1" type="FTTHOrderManagementInterface:servicosDigitais"/>
				<element name="pacotesAdicionais" minOccurs="0" maxOccurs="1" type="FTTHOrderManagementInterface:pacotesAdicionais"/>
			</sequence>
		</complexType>

	<complexType name="listaDeOperacoesType">
		<annotation>
			<documentation>listaDeOperacoesType</documentation>
		</annotation>
			<sequence>
				<element name="operacao" minOccurs="0" maxOccurs="unbounded" type="FTTHOrderManagementInterface:operacao_req"/>
			</sequence>
		</complexType>

	<element name="response">
		<complexType >
		<annotation>
			<documentation>response</documentation>
		</annotation>
			<sequence>
				<element name="idMensagem" minOccurs="1" maxOccurs="1" type="cwf:cwDocId"/>
				<element name="correlationId" minOccurs="1" maxOccurs="1" type="cwf:processId"/>
				<element name="status" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:status"/>
				<element name="descricao" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:descricao"/>
				<element name="timestampExecucao" minOccurs="1" maxOccurs="1" type="xsd:dateTime"/>
				<element name="listaAtributos" minOccurs="0" maxOccurs="1">
					<annotation>
						<documentation>Lista de Atributos</documentation>
						<appinfo>
							<label>listaAtributos</label>
						</appinfo>
					</annotation>
					<complexType>
						<sequence>
							<element name="atributo" minOccurs="0" maxOccurs="unbounded" type="FTTHOrderManagementInterface:attributeType"/>
						</sequence>
					</complexType>
				</element>
				<element name="operacoes" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:listaDeOperacoesType"/>
				<element name="pendencia" minOccurs="0" maxOccurs="1" type="FTTHOrderManagementInterface:pendenciaType"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="operacao_req">
		<annotation>
			<documentation>operacao_req</documentation>
		</annotation>
			<sequence>
				<element name="operacao" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="idAtivo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="tipoProduto" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="servico">
		<annotation>
			<documentation>servico</documentation>
		</annotation>
			<sequence>
				<element name="idCatalogo" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="nome" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="tipoProduto" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="acao" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:acaoType"/>
				<element name="atributos" minOccurs="1" maxOccurs="1" type="FTTHOrderManagementInterface:listaDeAtributos"/>
				<element name="idAtivo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="servicos">
		<annotation>
			<documentation>servicos</documentation>
		</annotation>
			<sequence>
				<element name="servico" minOccurs="0" maxOccurs="unbounded" type="FTTHOrderManagementInterface:servico"/>
			</sequence>
		</complexType>

	<!-- Documents -->

	<complexType name="logGPFieldActivities">
		<annotation>
			<documentation>logGPFieldActivities</documentation>
		</annotation>
			<sequence>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="atividade" type="FTTHCommon:string100"/>
				<element name="bairro" type="FTTHClickInterface:bairro"/>
				<element name="estadoLogradouro" type="FTTHCommon:estadoLogradouro"/>
				<element name="siglaLocalidade" type="FTTHCommon:siglaLocalidade"/>
				<element name="data" type="xsd:dateTime"/>
				<element name="nWorklist" type="FTTHCommon:string12"/>
			</sequence>
		</complexType>

	<complexType name="IssueNotification">
		<annotation>
			<documentation>Issue Notification</documentation>
		</annotation>
			<sequence>
				<element name="numeroOS" type="FTTHCommon:numeroOS"/>
				<element name="listaIdItens" type="FTTHCommon:servicos_idItems"/>
				<element name="idItem" type="xsd:string"/>
				<element name="numeroPedido" type="FTTHCommon:numeroPedido"/>
				<element name="atividadePendencia" type="FTTHCommon:atividadePendencia"/>
				<element name="codigoPendencia" type="FTTHCommon:codigoPendencia"/>
				<element name="descricaoPendencia" type="FTTHCommon:descricaoPendencia"/>
				<element name="tipoPendencia" type="FTTHCommon:tipoPendencia"/>
				<element name="dataAbertura" type="FTTHCommon:dataAbertura"/>
				<element name="dataFechamento" type="FTTHCommon:dataFechamento"/>
				<element name="statusPendencia" type="FTTHCommon:statusAtividade"/>
				<element name="pendenciaNotificada" type="FTTHOrderManagementInterface:pendenciaNotificada"/>
				<element name="cwOrderId" type="cwf:orderId"/>
			</sequence>
		</complexType>

	<complexType name="OrderParametersSearch">
		<annotation>
			<documentation>Order Parameters Search</documentation>
		</annotation>
			<sequence>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="indCancelamento" type="FTTHCommon:permiteCancelamento"/>
				<element name="idCatalogo" type="FTTHOrderManagementInterface:idCatalogo"/>
			</sequence>
		</complexType>

	<complexType name="OrderRequest">
		<annotation>
			<documentation>Order Request</documentation>
		</annotation>
			<sequence>
				<element name="idSolicitacao" type="FTTHCommon:idSolicitacao"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="nomeSolicitacao" type="FTTHOrderManagementInterface:nomeSolicitacao"/>
				<element name="permiteCancelamento" type="FTTHCommon:permiteCancelamento"/>
				<element name="tipoOrdemServico" type="FTTHOrderManagementInterface:tipoOrdem"/>
				<element name="nomeProcesso" type="FTTHOrderManagementInterface:nomeProcesso"/>
			</sequence>
		</complexType>

	<complexType name="OrderProcess">
		<annotation>
			<documentation>Order Process</documentation>
		</annotation>
			<sequence>
				<element name="idProcesso" type="cwf_pm:PROCESS_ID"/>
			</sequence>
		</complexType>

	<complexType name="ErrorNotification">
		<annotation>
			<documentation>Error Notification</documentation>
		</annotation>
			<sequence>
				<element name="numeroOS" type="FTTHCommon:numeroOS"/>
				<element name="numeroPedido" type="FTTHCommon:numeroPedido"/>
				<element name="descricaoErro" type="FTTHOrderManagementInterface:msgErro"/>
				<element name="erroNotificado" type="FTTHOrderManagementInterface:erroNotificado"/>
			</sequence>
		</complexType>

	<complexType name="OrderAction">
		<annotation>
			<documentation>Order Action</documentation>
		</annotation>
			<sequence>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="acao" type="FTTHOrderManagementInterface:acao"/>
				<element name="indCancelamento" type="FTTHCommon:permiteCancelamento"/>
			</sequence>
		</complexType>

	<complexType name="OrderActivities">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Documento utilizado na carga da tabela TB_ORDEM_ATIVIDADE. Este
  documento &amp;#233; o resultado da consulta dos parametros da OS (operacao,
  idCatalogo, acao) com a matriz de atividades.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Order Activities</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="codAtividade" type="FTTHOrderManagementInterface:atividade"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="atividadeAutomatica" type="FTTHCommon:flagAtividadeAutomatica"/>
				<element name="numOrdemAtividade" type="xsd:integer"/>
			</sequence>
		</complexType>

	<complexType name="SuspendedOrdersSearch">
		<annotation>
			<documentation>Suspended Orders Search</documentation>
		</annotation>
			<sequence>
				<element name="suspendTimeout" type="xsd:string"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
			</sequence>
		</complexType>

	<complexType name="OperacaoOM">
		<annotation>
			<documentation>Operacao OM</documentation>
		</annotation>
			<sequence>
				<element name="operacao" type="FTTHOrderManagementInterface:operacao"/>
			</sequence>
		</complexType>

	<complexType name="OrderHeaderSearch">
		<annotation>
			<documentation>Order Header Search</documentation>
		</annotation>
			<sequence>
				<element name="numeroOS" type="FTTHCommon:numeroOS"/>
				<element name="numeroPedido" type="FTTHCommon:numeroPedido"/>
			</sequence>
		</complexType>

	<complexType name="checkNeedRolloutSearch">
		<annotation>
			<documentation>checkNeedRolloutSearch</documentation>
		</annotation>
			<sequence>
				<element name="date" type="xsd:date"/>
				<element name="PARTICIPANT_TYPE" type="xsd:string"/>
				<element name="OPERATION" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="checkNeedRolloutResult">
		<annotation>
			<documentation>checkNeedRolloutResult</documentation>
		</annotation>
			<sequence>
				<element name="cwOrderId" type="FTTHClickInterface:cwOrderId"/>
			</sequence>
		</complexType>

	<complexType name="productDataSearch">
		<annotation>
			<documentation>Product Data Search</documentation>
		</annotation>
			<sequence>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
			</sequence>
		</complexType>

	<complexType name="ChangedServiceSearch">
		<annotation>
			<documentation>ChangedServiceSearch</documentation>
		</annotation>
			<sequence>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="service" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="OrderParameters">
		<annotation>
			<documentation>Order Parameters</documentation>
		</annotation>
			<sequence>
				<element name="orderId" type="cwf:cwOrderId"/>
				<element name="operacao" type="FTTHOrderManagementInterface:operacao"/>
				<element name="idCatalogo" type="FTTHOrderManagementInterface:idCatalogo"/>
				<element name="acao" type="FTTHOrderManagementInterface:acao"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="indCancelamento" type="FTTHCommon:permiteCancelamento"/>
			</sequence>
		</complexType>

	<complexType name="SuspendedOrder">
		<annotation>
			<documentation>Suspended Order</documentation>
		</annotation>
			<sequence>
				<element name="processId" type="cwf:processId"/>
				<element name="orderId" type="cwf:orderId"/>
				<element name="numeroPedido" type="FTTHCommon:numeroPedido"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
			</sequence>
		</complexType>

	<complexType name="ChangedService">
		<annotation>
			<documentation>ChangedService</documentation>
		</annotation>
			<sequence>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="service" type="FTTHCommon:identificadorCampo"/>
			</sequence>
		</complexType>

	<complexType name="OrderActionResult">
		<annotation>
			<documentation>Order Action Result</documentation>
		</annotation>
			<sequence>
				<element name="idOrdemServico" type="cwf:cwOrderId"/>
				<element name="acao" type="FTTHOrderManagementInterface:acao"/>
				<element name="idCatalogo" type="FTTHOrderManagementInterface:idCatalogo"/>
			</sequence>
		</complexType>

</schema>
