Metadados/resources/schema/FTTHClickInterface.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="FTTHClickInterface" targetNamespace="FTTHClickInterface"
	xmlns:tns="FTTHClickInterface"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:FTTHClickInterface="FTTHClickInterface">

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="FTTHClickInterface" schemaLocation="FTTHClickInterface.xsd"/>
		</schema>
	</types>

	<message name="validateChangeAssociateRequest">
		<part name="validateChangeAssociateRequest" type="FTTHClickInterface:validateChangeAssociateRequest"/>
	</message>

	<message name="acknowledge">
		<part name="acknowledge" type="FTTHClickInterface:acknowledge"/>
	</message>

	<message name="validateChangeAssociateResponse">
		<part name="validateChangeAssociateResponse" type="FTTHClickInterface:validateChangeAssociateResponse"/>
	</message>

	<message name="closingBAWFMRequest">
		<part name="closingBAWFMRequest" type="FTTHClickInterface:closingBAWFMRequest"/>
	</message>

	<message name="closingBAWFMResponse">
		<part name="closingBAWFMResponse" type="FTTHClickInterface:closingBAWFMResponse"/>
	</message>

	<portType name="ValidateExchangeEquipListenerInterface">
		<operation name="ValidateExchangeEquipListenerOperation">
			<input message="tns:validateChangeAssociateRequest"/>
			<output message="tns:acknowledge"/>
		</operation>
	</portType>

	<portType name="ValidateExchangeEquipNotifyInterface">
		<operation name="ValidateExchangeEquipNotifyOperation">
			<input message="tns:validateChangeAssociateResponse"/>
			<output message="tns:acknowledge"/>
		</operation>
	</portType>

	<portType name="ClosingBAWFMInterface">
		<operation name="closingBAWFMListenerOperation">
			<input message="tns:closingBAWFMRequest"/>
			<output message="tns:closingBAWFMResponse"/>
		</operation>
	</portType>

	<binding name="ValidateExchangeEquipListenerBinding" type="tns:ValidateExchangeEquipListenerInterface">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ValidateExchangeEquipListenerOperation">
			<soap:operation soapAction="ValidateExchangeEquipListenerOperation"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<binding name="ValidateExchangeEquipNotifyBinding" type="tns:ValidateExchangeEquipNotifyInterface">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ValidateExchangeEquipNotifyOperation">
			<soap:operation soapAction="ValidateExchangeEquipNotifyOperation"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<binding name="ClosingBAWFMListenerBinding" type="tns:ClosingBAWFMInterface">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="closingBAWFMListenerOperation">
			<soap:operation soapAction="closingBAWFMListenerOperation"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="ValidateExchangeEquipListenerService">
		<port name="ValidateExchangeEquipListenerServicePort" binding="tns:ValidateExchangeEquipListenerBinding">
		</port>
	</service>

	<service name="ValidateExchangeEquipNotifyService">
		<port name="ValidateExchangeEquipNotifyServicePort" binding="tns:ValidateExchangeEquipNotifyBinding">
		</port>
	</service>

	<service name="ClosingBAWFMListenerService">
		<port name="ClosingBAWFMListenerServicePort" binding="tns:ClosingBAWFMListenerBinding">
		</port>
	</service>

</definitions>