Metadados/resources/schema/FTTHCommon.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema targetNamespace="FTTHCommon"	
	xmlns="http://www.w3.org/2001/XMLSchema"	
	xmlns:FTTHCommon="FTTHCommon"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	xmlns:cwt_common="http://www.conceptwave.com/templates/common"	
	xmlns:cwf="http://www.conceptwave.com/system"	
	xmlns:FTTHOrder="FTTHOrder"	
	xmlns:cwf_pm="http://www.conceptwave.com/products/pm">



	<import namespace="http://www.conceptwave.com/templates/common" schemaLocation="cwt_common.xsd"/>
	<import namespace="http://www.conceptwave.com/system" schemaLocation="cwf.xsd"/>
	<import namespace="FTTHOrder" schemaLocation="FTTHOrder.xsd"/>
	<import namespace="http://www.conceptwave.com/products/pm" schemaLocation="cwf_pm.xsd"/>

	<annotation>
		<documentation>FTTH Common</documentation>
	</annotation>

	<!-- Data types and elements -->

	<simpleType name="string6">
		<annotation>
			<documentation>string6</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="6"/>
		</restriction>
	</simpleType>

	<simpleType name="string5">
		<annotation>
			<documentation>string5</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="5"/>
		</restriction>
	</simpleType>

	<simpleType name="string8">
		<annotation>
			<documentation>string8</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="servicos_idItems">
		<annotation>
			<documentation>Serviços Id Items</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="flagIssueStatus">
		<annotation>
			<documentation>flagIssueStatus</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="nomeSistema">
		<annotation>
			<documentation>Nome do Sistema</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
			<enumeration value="INVENTORY_SYSTEM">
				<annotation>
					<documentation>Inventário</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ACTIVATION_SYSTEM">
				<annotation>
					<documentation>Ativação</documentation>
				</annotation>
			</enumeration>
			<enumeration value="OM_SYSTEM">
				<annotation>
					<documentation>OM</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SAP_SYSTEM">
				<annotation>
					<documentation>SAP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CLICK_SYSTEM">
				<annotation>
					<documentation>CLICK</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SGFT_SYSTEM">
				<annotation>
					<documentation>SGFT</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="string7">
		<annotation>
			<documentation>string7</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="7"/>
		</restriction>
	</simpleType>

	<simpleType name="string2">
		<annotation>
			<documentation>string2</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="quantidadePontosRF">
		<annotation>
			<documentation>Quantidade de Pontos RF</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="string1">
		<annotation>
			<documentation>string1</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
		</restriction>
	</simpleType>

	<simpleType name="string4">
		<annotation>
			<documentation>string4</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4"/>
		</restriction>
	</simpleType>

	<simpleType name="string3">
		<annotation>
			<documentation>string3</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="3"/>
		</restriction>
	</simpleType>

	<simpleType name="splitterPort">
		<annotation>
			<documentation>Porta do Splitter</documentation>
		</annotation>
		<restriction base="cwt_common:string32">
		</restriction>
	</simpleType>

	<simpleType name="string9">
		<annotation>
			<documentation>String com tamanho 9</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="dataFechamento">
		<annotation>
			<documentation>Data de Fechamento</documentation>
		</annotation>
		<restriction base="xsd:dateTime">
		</restriction>
	</simpleType>

	<simpleType name="motivoRetirada">
		<annotation>
			<documentation>Motivo Retirada</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="400"/>
		</restriction>
	</simpleType>

	<simpleType name="numeroPedido">
		<annotation>
			<documentation>Numero Pedido</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="OLTSHELF">
		<annotation>
			<documentation>OLT SHELF</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="countIPTV">
		<annotation>
			<documentation>countIPTV</documentation>
		</annotation>
		<restriction base="xsd:integer">
		</restriction>
	</simpleType>

	<simpleType name="OLTSLOT">
		<annotation>
			<documentation>OLT SLOT</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="BSP">
		<annotation>
			<documentation>BSP</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="statusOrdem">
		<annotation>
			<documentation>Status da Ordem</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="isAtivo">
		<annotation>
			<documentation>is Ativo</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="foiDevolvido">
		<annotation>
			<documentation>Devolvido?</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="versao">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Data Type que indica vers&amp;#227;o
&lt;/p&gt;</documentation>
			<appinfo>
				<label>versão</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="idOTT">
		<annotation>
			<documentation>Identificador OTT</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="participante">
		<annotation>
			<documentation>Participante</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="200"/>
		</restriction>
	</simpleType>

	<simpleType name="numeroVoIP">
		<annotation>
			<documentation>Numero VoIP</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="xmlEnviado">
		<annotation>
			<documentation>XML Enviado</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="isChamadaEspera">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Servi&amp;#231;o Digital Chamada em Espera
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Chamada em Espera</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="velocidadeUpload">
		<annotation>
			<documentation>Velocidade Upload</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="identificadorHSI">
		<annotation>
			<documentation>Identificador HSI</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="pontoReferencia">
		<annotation>
			<documentation>Ponto de Referência</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="255"/>
		</restriction>
	</simpleType>

	<simpleType name="idAtividade">
		<annotation>
			<documentation>Id Atividade</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="string15">
		<annotation>
			<documentation>string15</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="15"/>
		</restriction>
	</simpleType>

	<simpleType name="string16">
		<annotation>
			<documentation>string16</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="string11">
		<annotation>
			<documentation>string11</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="11"/>
		</restriction>
	</simpleType>

	<simpleType name="ARS">
		<annotation>
			<documentation>ARS</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="string12">
		<annotation>
			<documentation>string12</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="12"/>
		</restriction>
	</simpleType>

	<simpleType name="acessoGestao">
		<annotation>
			<documentation>acessoGestao</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="CDO">
		<annotation>
			<documentation>CDO</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="qtdPontosHDPagoExtra">
		<annotation>
			<documentation>Quantidade de Pontos HD Pago - Extra</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="VLAN">
		<annotation>
			<documentation>VLAN</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4"/>
		</restriction>
	</simpleType>

	<simpleType name="tipoTV">
		<annotation>
			<documentation>Tipo TV</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="3"/>
			<enumeration value="RF">
				<annotation>
					<documentation>RF</documentation>
				</annotation>
			</enumeration>
			<enumeration value="STB">
				<annotation>
					<documentation>STB</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="tipoComplemento">
		<annotation>
			<documentation>Tipo Complemento</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="numeroSerieONT">
		<annotation>
			<documentation>Numero de Serie ONT</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="permiteCancelamento">
		<annotation>
			<documentation>Permite Cancelamento? </documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="CEP">
		<annotation>
			<documentation>CEP</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="dadoOriginal">
		<annotation>
			<documentation>dadoOriginal</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="200"/>
		</restriction>
	</simpleType>

	<simpleType name="nomeAtividadePend">
		<annotation>
			<documentation>nomeAtividadePend</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="operationWorklist">
		<annotation>
			<documentation>operationWorklist</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="150"/>
		</restriction>
	</simpleType>

	<simpleType name="tipoPromocao">
		<annotation>
			<documentation>tipoPromocao</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="operacao">
		<annotation>
			<documentation>operacao</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="wmsPrivileges">
		<annotation>
			<documentation>wmsPrivileges</documentation>
		</annotation>
		<restriction base="cwf:privilege">
			<enumeration value="closeIssue">
				<annotation>
					<documentation>Close Issue</documentation>
				</annotation>
			</enumeration>
			<enumeration value="manualActivity">
				<annotation>
					<documentation>Manual Activity</documentation>
				</annotation>
			</enumeration>
			<enumeration value="errorActivity">
				<annotation>
					<documentation>ErrorActivity</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="string1000">
		<annotation>
			<documentation>string1000</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>

	<simpleType name="string1024">
		<annotation>
			<documentation>String 1024</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1024"/>
		</restriction>
	</simpleType>

	<simpleType name="modeloSplitter">
		<annotation>
			<documentation>Modelo do Splitter </documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="tipoUso">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Tipo de Uso
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Tipo de Uso</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="ARDO">
		<annotation>
			<documentation>ARDO</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="OLTRACK">
		<annotation>
			<documentation>OLT RACK</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="statusAcao">
		<annotation>
			<documentation>Status da Acao</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="numeroRotaRede">
		<annotation>
			<documentation></documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="valorFranquia">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Valor da Franquia
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Valor da Franquia</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="OLTPORT">
		<annotation>
			<documentation>OLT PORT</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="listaServicos">
		<annotation>
			<documentation>Lista de Servicos</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1024"/>
		</restriction>
	</simpleType>

	<simpleType name="sistemaType">
		<annotation>
			<documentation>sistemaType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="BA">
		<annotation>
			<documentation>BA</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="observacao">
		<annotation>
			<documentation>Observacao</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="510"/>
		</restriction>
	</simpleType>

	<simpleType name="DGO">
		<annotation>
			<documentation>DGO</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="registroMensagens">
		<annotation>
			<documentation>Registro de Mensagens</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="estadoOS">
		<annotation>
			<documentation>Estado OS</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="motivo">
		<annotation>
			<documentation>Motivo</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="255"/>
		</restriction>
	</simpleType>

	<simpleType name="campoObrigatorio">
		<annotation>
			<documentation>Campo Obrigatorio</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="200"/>
		</restriction>
	</simpleType>

	<simpleType name="OLTGALC">
		<annotation>
			<documentation>OLT GALC</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="codigoErroDD">
		<annotation>
			<documentation>Código de Pêndencia</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="email">
		<annotation>
			<documentation>E-mail</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="255"/>
		</restriction>
	</simpleType>

	<simpleType name="flagAssociateONT">
		<annotation>
			<documentation>flagAssociateONT</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="tempoTarefaAberta">
		<annotation>
			<documentation>Tempo de Tarefa Aberta</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="matriculaTecnico">
		<annotation>
			<documentation>Matricula do Tecnico</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="nomeLogradouro">
		<annotation>
			<documentation>Nome do Logradouro</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="255"/>
		</restriction>
	</simpleType>

	<simpleType name="dataPromessa">
		<annotation>
			<documentation>Data Promessa</documentation>
		</annotation>
		<restriction base="xsd:dateTime">
		</restriction>
	</simpleType>

	<simpleType name="tipoOS">
		<annotation>
			<documentation>Tipo OS</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
			<enumeration value="TIPO_ORDEM_INSTALACAO">
				<annotation>
					<documentation>Instalação</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TIPO_ORDEM_MODIFICACAO">
				<annotation>
					<documentation>Modificação</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TIPO_ORDEM_RETIRADA">
				<annotation>
					<documentation>Retirada</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TIPO_ORDEM_BLOQUEIO">
				<annotation>
					<documentation>Bloqueio</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TIPO_ORDEM_DESBLOQUEIO">
				<annotation>
					<documentation>Desbloqueio</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TIPO_ORDEM_BLOQUEIO_DESBLOQUEIO">
				<annotation>
					<documentation>Bloqueio Desbloqueio</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TIPO_ORDEM_REPARO">
				<annotation>
					<documentation>Reparo</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="instalado">
		<annotation>
			<documentation>Ponto Instalado?</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="qtdPontosRFOverlay">
		<annotation>
			<documentation>Qtd Maxima de Pontos RF Overlay</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="dataAtivacao">
		<annotation>
			<documentation>Data de Ativacao</documentation>
		</annotation>
		<restriction base="xsd:dateTime">
		</restriction>
	</simpleType>

	<simpleType name="possuiDVRIntegrado">
		<annotation>
			<documentation>Possui DVR Integrado?</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="necessitaJumper">
		<annotation>
			<documentation>Necessita Jumper?</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="categoria">
		<annotation>
			<documentation>Categoria</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="atividadePendencia">
		<annotation>
			<documentation>atividadePendencia</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="300"/>
		</restriction>
	</simpleType>

	<simpleType name="UNI">
		<annotation>
			<documentation>UNI</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="identificadorCampo">
		<annotation>
			<documentation>identificadorCampo</documentation>
		</annotation>
		<restriction base="cwt_common:string32">
		</restriction>
	</simpleType>

	<simpleType name="codigoPendencia">
		<annotation>
			<documentation>Codigo de Pendencia</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="nomePacote">
		<annotation>
			<documentation>Nome do Pacote</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="atividade">
		<annotation>
			<documentation>Atividade</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="200"/>
			<enumeration value="1">
				<annotation>
					<documentation>Associar ONT a OLT</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2">
				<annotation>
					<documentation>Atualizar Cabeamento Interno</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3">
				<annotation>
					<documentation>Atualizar Equipamento Cliente</documentation>
				</annotation>
			</enumeration>
			<enumeration value="4">
				<annotation>
					<documentation>Bloquear HSI</documentation>
				</annotation>
			</enumeration>
			<enumeration value="5">
				<annotation>
					<documentation>Bloquear IPTV</documentation>
				</annotation>
			</enumeration>
			<enumeration value="6">
				<annotation>
					<documentation>Bloquear OTT</documentation>
				</annotation>
			</enumeration>
			<enumeration value="7">
				<annotation>
					<documentation>Bloquear VoIP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="8">
				<annotation>
					<documentation>Configurar HSI</documentation>
				</annotation>
			</enumeration>
			<enumeration value="9">
				<annotation>
					<documentation>Configurar IPTV</documentation>
				</annotation>
			</enumeration>
			<enumeration value="10">
				<annotation>
					<documentation>Configurar Infra</documentation>
				</annotation>
			</enumeration>
			<enumeration value="11">
				<annotation>
					<documentation>Configurar OTT</documentation>
				</annotation>
			</enumeration>
			<enumeration value="12">
				<annotation>
					<documentation>Configurar VoIP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="13">
				<annotation>
					<documentation>Confirmar Designacao</documentation>
				</annotation>
			</enumeration>
			<enumeration value="14">
				<annotation>
					<documentation>Consultar Facilidade Fisica Nova</documentation>
				</annotation>
			</enumeration>
			<enumeration value="15">
				<annotation>
					<documentation>Consultar Facilidade Fisica Original</documentation>
				</annotation>
			</enumeration>
			<enumeration value="16">
				<annotation>
					<documentation>Consultar Facilidade Logica 1 Nova</documentation>
				</annotation>
			</enumeration>
			<enumeration value="17">
				<annotation>
					<documentation>Consultar Facilidade Logica 1 Original</documentation>
				</annotation>
			</enumeration>
			<enumeration value="18">
				<annotation>
					<documentation>Consultar Facilidade Logica 2 Nova</documentation>
				</annotation>
			</enumeration>
			<enumeration value="19">
				<annotation>
					<documentation>Consultar Facilidade Logica 2 Original</documentation>
				</annotation>
			</enumeration>
			<enumeration value="20">
				<annotation>
					<documentation>Desbloquear HSI</documentation>
				</annotation>
			</enumeration>
			<enumeration value="21">
				<annotation>
					<documentation>Desbloquear IPTV</documentation>
				</annotation>
			</enumeration>
			<enumeration value="22">
				<annotation>
					<documentation>Desbloquear OTT</documentation>
				</annotation>
			</enumeration>
			<enumeration value="23">
				<annotation>
					<documentation>Desbloquear VoIP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="24">
				<annotation>
					<documentation>Desconfigurar HSI</documentation>
				</annotation>
			</enumeration>
			<enumeration value="25">
				<annotation>
					<documentation>Desconfigurar IPTV</documentation>
				</annotation>
			</enumeration>
			<enumeration value="26">
				<annotation>
					<documentation>Desconfigurar Infra</documentation>
				</annotation>
			</enumeration>
			<enumeration value="27">
				<annotation>
					<documentation>Desconfigurar OTT</documentation>
				</annotation>
			</enumeration>
			<enumeration value="28">
				<annotation>
					<documentation>Desconfigurar VoIP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="29">
				<annotation>
					<documentation>Designar Facilidade</documentation>
				</annotation>
			</enumeration>
			<enumeration value="30">
				<annotation>
					<documentation>Dissociar STB</documentation>
				</annotation>
			</enumeration>
			<enumeration value="31">
				<annotation>
					<documentation>Instalar ou Remover Equipamento Cliente</documentation>
				</annotation>
			</enumeration>
			<enumeration value="32">
				<annotation>
					<documentation>Liberar Facilidade</documentation>
				</annotation>
			</enumeration>
			<enumeration value="33">
				<annotation>
					<documentation>Notificar Encerramento</documentation>
				</annotation>
			</enumeration>
			<enumeration value="34">
				<annotation>
					<documentation>Notificar Ponto de Nao Retorno</documentation>
				</annotation>
			</enumeration>
			<enumeration value="35">
				<annotation>
					<documentation>Realizar Jumper</documentation>
				</annotation>
			</enumeration>
			<enumeration value="36">
				<annotation>
					<documentation>Reconfigurar HSI</documentation>
				</annotation>
			</enumeration>
			<enumeration value="37">
				<annotation>
					<documentation>Reconfigurar IPTV</documentation>
				</annotation>
			</enumeration>
			<enumeration value="38">
				<annotation>
					<documentation>Reconfigurar OTT</documentation>
				</annotation>
			</enumeration>
			<enumeration value="39">
				<annotation>
					<documentation>Reconfigurar VoIP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="40">
				<annotation>
					<documentation>Redesignar Facilidade</documentation>
				</annotation>
			</enumeration>
			<enumeration value="41">
				<annotation>
					<documentation>Cancelar Designação</documentation>
				</annotation>
			</enumeration>
			<enumeration value="42">
				<annotation>
					<documentation>Bloqueio Vago VMP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="43">
				<annotation>
					<documentation>Desbloqueio Vago VMP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="44">
				<annotation>
					<documentation>Configurar Perfil Cliente iESF</documentation>
				</annotation>
			</enumeration>
			<enumeration value="45">
				<annotation>
					<documentation>ATUALIZAR_ESTOQUE</documentation>
				</annotation>
			</enumeration>
			<enumeration value="46">
				<annotation>
					<documentation>EXECUTAR_BA_EQUIPAMENTO</documentation>
				</annotation>
			</enumeration>
			<enumeration value="47">
				<annotation>
					<documentation>EXECUTAR_BA_JUMPER</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="dataAgendamento">
		<annotation>
			<documentation>Data do Agendamento</documentation>
		</annotation>
		<restriction base="xsd:date">
		</restriction>
	</simpleType>

	<simpleType name="isDVR">
		<annotation>
			<documentation>isDVR</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
		</restriction>
	</simpleType>

	<simpleType name="deviceGUID">
		<annotation>
			<documentation>deviceGUID</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="36"/>
		</restriction>
	</simpleType>

	<simpleType name="velocidadeDownload">
		<annotation>
			<documentation>Velocidade Download</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="dataEnvio">
		<annotation>
			<documentation>Data Envio</documentation>
		</annotation>
		<restriction base="xsd:date">
		</restriction>
	</simpleType>

	<simpleType name="nomeTecnico">
		<annotation>
			<documentation>Nome do Tecnico</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="255"/>
		</restriction>
	</simpleType>

	<simpleType name="sendStbToSisStatus">
		<annotation>
			<documentation>sendStbToSisStatus</documentation>
		</annotation>
		<restriction base="xsd:integer">
		</restriction>
	</simpleType>

	<simpleType name="aprazado">
		<annotation>
			<documentation>Aprazado?</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="identificadorVOIP">
		<annotation>
			<documentation>Identificador VoIP</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="numeroSerieHomeGateway">
		<annotation>
			<documentation>Numero de Serie Home Gateway</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="nomeUsuario">
		<annotation>
			<documentation>Nome do Usuario</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="255"/>
		</restriction>
	</simpleType>

	<simpleType name="identificadorIPTV">
		<annotation>
			<documentation>Identificador IPTV</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="qtdPontosSTBDVRGratis">
		<annotation>
			<documentation>Qtd Maxima de Pontos STB DVR Gratis</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="bairro">
		<annotation>
			<documentation>Bairro</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="idOperacaoOM">
		<annotation>
			<documentation>ID Operacao OM</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="tipoLogradouro">
		<annotation>
			<documentation>Tipo Logradouro</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="solicitacao">
		<annotation>
			<documentation>Solicitacao</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>

	<simpleType name="codigoLocalidade">
		<annotation>
			<documentation>Codigo da Localidade</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="flagAtividadeAutomatica">
		<annotation>
			<documentation>flagAtividadeAutomatica</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="quantidadePontosIPTV">
		<annotation>
			<documentation>Quantidade de Pontos IPTV</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="string100">
		<annotation>
			<documentation>string100</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>

	<simpleType name="ONT">
		<annotation>
			<documentation>ONT</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="string68">
		<annotation>
			<documentation>string68</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="68"/>
		</restriction>
	</simpleType>

	<simpleType name="string200">
		<annotation>
			<documentation>String200</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="ONTCARD">
		<annotation>
			<documentation>ONT CARD</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="qtdPontosDVRGratis">
		<annotation>
			<documentation>Quantidade de Pontos DVR Gratis</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="tipoSplitter">
		<annotation>
			<documentation>Tipo de Splitter</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="nomePSR">
		<annotation>
			<documentation>Nome da PSR</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="255"/>
		</restriction>
	</simpleType>

	<simpleType name="codigoLogradouro">
		<annotation>
			<documentation>Codigo do Logradouro</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="string64">
		<annotation>
			<documentation>String64</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="string60">
		<annotation>
			<documentation>string60</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="60"/>
		</restriction>
	</simpleType>

	<simpleType name="codigoPSR">
		<annotation>
			<documentation>Codigo da PSR</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="caboDrop">
		<annotation>
			<documentation>Cabo Drop</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="errorDescription">
		<annotation>
			<documentation>Error Description</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>

	<simpleType name="qtdPontosRFExtra">
		<annotation>
			<documentation>Quantidade de Pontos RF - Extra</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="statusAtividade">
		<annotation>
			<documentation>Status Atividade</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="descricaoPendencia">
		<annotation>
			<documentation>Descricao da Pendencia</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="200"/>
			<enumeration value="1">
				<annotation>
					<documentation>1</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="caboRiser">
		<annotation>
			<documentation>Cabo Riser</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="downstreamSystem">
		<annotation>
			<documentation>Downstream System</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="isBina">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Servi&amp;#231;o Digital Bina
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Bina</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="tipoPlano">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Tipo de Plano
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Tipo de Plano</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="necessitaSpliter">
		<annotation>
			<documentation>Necessita Splitter?</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="listaSolicitacoes">
		<annotation>
			<documentation>Lista de Solicitacoes</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4000"/>
		</restriction>
	</simpleType>

	<simpleType name="codigoRetorno">
		<annotation>
			<documentation>Codigo de Retorno</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="produto">
		<annotation>
			<documentation>Produto</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="listaAtividades">
		<annotation>
			<documentation>Lista de Atividades</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4000"/>
		</restriction>
	</simpleType>

	<simpleType name="unidadeFranquia">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Unidade de Franquia
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Unidade de Franquia</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="dataAbertura">
		<annotation>
			<documentation>Data de Abertura</documentation>
		</annotation>
		<restriction base="xsd:dateTime">
		</restriction>
	</simpleType>

	<simpleType name="isCaixaPostal">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Servi&amp;#231;o Digital Caixa Postal
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Caixa Postal</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="qtdPontosSTBHDPago">
		<annotation>
			<documentation>Qtd Maxima Pontos STB HD Pago</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="nomePlano">
		<annotation>
			<documentation>Nome do Plano</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="string80">
		<annotation>
			<documentation>string80</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="80"/>
		</restriction>
	</simpleType>

	<simpleType name="numeroSerieSetTopBox">
		<annotation>
			<documentation>Numero de Serie Set-Top Box</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="servicos_idCatalogos">
		<annotation>
			<documentation>Serviços Id Catalogos</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1024"/>
		</restriction>
	</simpleType>

	<simpleType name="caminhoFibra">
		<annotation>
			<documentation>Caminho da Fibra</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4000"/>
		</restriction>
	</simpleType>

	<simpleType name="complemento">
		<annotation>
			<documentation>Complemento</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="255"/>
		</restriction>
	</simpleType>

	<simpleType name="codigoPendenciaDD">
		<annotation>
			<documentation>Código de Pêndencia</documentation>
		</annotation>
		<restriction base="cwf:sReference">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="identificadorPlano">
		<annotation>
			<documentation>Identificador Plano</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="qtdPontosHDPago">
		<annotation>
			<documentation>Quantidade de Pontos HD Pago</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="nomeCampo">
		<annotation>
			<documentation>nomeCampo</documentation>
		</annotation>
		<restriction base="cwf:String64">
		</restriction>
	</simpleType>

	<simpleType name="string4000">
		<annotation>
			<documentation>string4000</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4000"/>
		</restriction>
	</simpleType>

	<simpleType name="acao">
		<annotation>
			<documentation>Ação</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="numeroRFSPON">
		<annotation>
			<documentation>Numero RFSPON</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="40"/>
		</restriction>
	</simpleType>

	<simpleType name="acessoGPON">
		<annotation>
			<documentation>AcessoGPON</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="tipoPromocaoOriginal">
		<annotation>
			<documentation>tipoPromocaoOriginal</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="velocidadeContratada">
		<annotation>
			<documentation>Velocidade Contratada</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="errorCode">
		<annotation>
			<documentation>Error Code</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
		</restriction>
	</simpleType>

	<simpleType name="estadoLogradouro">
		<annotation>
			<documentation>Estado Logradouro</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
			<enumeration value="AC">
				<annotation>
					<documentation>ACRE</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AL">
				<annotation>
					<documentation>ALAGOAS</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AM">
				<annotation>
					<documentation>AMAZONAS</documentation>
				</annotation>
			</enumeration>
			<enumeration value="AP">
				<annotation>
					<documentation>AMAPA</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BA">
				<annotation>
					<documentation>BAHIA</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CE">
				<annotation>
					<documentation>CEARA</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DF">
				<annotation>
					<documentation>BRASILIA</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ES">
				<annotation>
					<documentation>ESPIRITO SANTO</documentation>
				</annotation>
			</enumeration>
			<enumeration value="GO">
				<annotation>
					<documentation>GOIAS</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MA">
				<annotation>
					<documentation>MARANHAO</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MG">
				<annotation>
					<documentation>MINAS GERAIS</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MS">
				<annotation>
					<documentation>MATO GROSSO DO SUL</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MT">
				<annotation>
					<documentation>MATO GROSSO</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PA">
				<annotation>
					<documentation>PARA</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PB">
				<annotation>
					<documentation>PARAIBA</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PE">
				<annotation>
					<documentation>PERNAMBUCO</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PI">
				<annotation>
					<documentation>PIAUI</documentation>
				</annotation>
			</enumeration>
			<enumeration value="PR">
				<annotation>
					<documentation>PARANA</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RJ">
				<annotation>
					<documentation>RIO DE JANEIRO</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RN">
				<annotation>
					<documentation>RIO GRANDE DO NORTE</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RO">
				<annotation>
					<documentation>RONDONIA</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RR">
				<annotation>
					<documentation>RORAIMA</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RS">
				<annotation>
					<documentation>RIO GRANDE DO SUL</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SC">
				<annotation>
					<documentation>SANTA CATARINA</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SE">
				<annotation>
					<documentation>SERGIPE</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SP">
				<annotation>
					<documentation>SAO PAULO</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TO">
				<annotation>
					<documentation>TOCANTINS</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="PORTAB">
		<annotation>
			<documentation>Portabilidade</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
		</restriction>
	</simpleType>

	<simpleType name="tecnologiaTV">
		<annotation>
			<documentation>Tecnologia TV</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="3"/>
			<enumeration value="RF">
				<annotation>
					<documentation>RF</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DVR">
				<annotation>
					<documentation>DVR</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="numeroDocumento">
		<annotation>
			<documentation>Numero Documento</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="255"/>
		</restriction>
	</simpleType>

	<simpleType name="estadoTramitacao">
		<annotation>
			<documentation>Estado da Tramitacao</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="flagDadoOriginal">
		<annotation>
			<documentation>flagDadoOriginal</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
		</restriction>
	</simpleType>

	<simpleType name="ID_OITOTAL">
		<annotation>
			<documentation>Número Móvel Titular (Oi Total)</documentation>
		</annotation>
		<restriction base="FTTHCommon:string15">
		</restriction>
	</simpleType>

	<simpleType name="senhaType">
		<annotation>
			<documentation>senhaType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="qtdPontosSTBHDGratis">
		<annotation>
			<documentation>Qtd Maxima de Pontos STB HD Gratis</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="string20">
		<annotation>
			<documentation>string20</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="nomeSolicitanteType">
		<annotation>
			<documentation>nomeSolicitanteType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="DDD">
		<annotation>
			<documentation>DDD</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="3"/>
		</restriction>
	</simpleType>

	<simpleType name="isSigame">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Servi&amp;#231;o Digital Sigame
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Siga-me</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="siglaLocalidade">
		<annotation>
			<documentation>Localidade</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="idItem">
		<annotation>
			<documentation>Id Item</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="dataCancelamento">
		<annotation>
			<documentation>Data do Cancelamento</documentation>
		</annotation>
		<restriction base="xsd:dateTime">
		</restriction>
	</simpleType>

	<simpleType name="string35">
		<annotation>
			<documentation>string35</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="35"/>
		</restriction>
	</simpleType>

	<simpleType name="telefoneContato">
		<annotation>
			<documentation>Telefone Contato</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="qtdPontosHDGratisExtra">
		<annotation>
			<documentation>Quantidade de Pontos HD Gratis - Extra</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="nomePromocao">
		<annotation>
			<documentation>Nome Promocao</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="string32">
		<annotation>
			<documentation>String32</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="CDOIA">
		<annotation>
			<documentation>CDOIA</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="identificadorRFTV">
		<annotation>
			<documentation>Identificador RFTV</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="string30">
		<annotation>
			<documentation>string30</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="indicativoPosicao">
		<annotation>
			<documentation>Indicativo Posicao</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
		</restriction>
	</simpleType>

	<simpleType name="qtdPontosDVRGratisExtra">
		<annotation>
			<documentation>Quantidade de Pontos DVR Gratis - Extra</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="direcao">
		<annotation>
			<documentation>direcao</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="nome">
		<annotation>
			<documentation>Nome</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="255"/>
		</restriction>
	</simpleType>

	<simpleType name="xmlRecebido">
		<annotation>
			<documentation>XML Recebido</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="qtdPontosHDGratis">
		<annotation>
			<documentation>Quantidade de Pontos HD Gratis</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="siglaLocalidadeReal">
		<annotation>
			<documentation>Sigla Localidade</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>

	<simpleType name="numlogradouro">
		<annotation>
			<documentation>Numero do Logradouro</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="numeroOSInventario">
		<annotation>
			<documentation>Numero OS Inventario</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="40"/>
		</restriction>
	</simpleType>

	<simpleType name="matriculaUsuario">
		<annotation>
			<documentation>Matricula do Usuario</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="tipoPendencia">
		<annotation>
			<documentation>Tipo de Pendencia</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
			<enumeration value="001">
				<annotation>
					<documentation>TÉCNICA</documentation>
				</annotation>
			</enumeration>
			<enumeration value="002">
				<annotation>
					<documentation>CLIENTE</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="string40">
		<annotation>
			<documentation>string40</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="40"/>
		</restriction>
	</simpleType>

	<simpleType name="tipoAcao">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  tipo da acao a ser enviada ao barramento em todas as mensagens. Ex.:
  HSI, IPTV, VOIP, GPON, CHVN, etc
&lt;/p&gt;</documentation>
			<appinfo>
				<label>tipo Acao</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="12"/>
		</restriction>
	</simpleType>

	<simpleType name="numeroOS">
		<annotation>
			<documentation>Numero OS</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="nomeAtividade">
		<annotation>
			<documentation>Nome da Atividade</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
			<enumeration value="ASSOCIAR_ONT">
				<annotation>
					<documentation>Associar ONT à OLT</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ATUALIZAR_CABEAMENTO_INTERNO">
				<annotation>
					<documentation>Atualizar Cabeamento Interno</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ATUALIZAR_EQUIPAMENTO_CLIENTE">
				<annotation>
					<documentation>Atualizar Equipamento Cliente</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BLOQUEAR_HSI">
				<annotation>
					<documentation>Bloquear HSI</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BLOQUEAR_IPTV">
				<annotation>
					<documentation>Bloquear IPTV</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BLOQUEAR_OTT">
				<annotation>
					<documentation>Bloquear OTT</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BLOQUEAR_VOIP">
				<annotation>
					<documentation>Bloquear VoIP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_HSI">
				<annotation>
					<documentation>Configurar HSI</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NOTIFICAR_ENRIQUECIMENTO">
				<annotation>
					<documentation>Notificar Enriquecimento</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_INFRA">
				<annotation>
					<documentation>Configurar Infra</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_IPTV">
				<annotation>
					<documentation>Configurar IPTV</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_OTT">
				<annotation>
					<documentation>Configurar OTT</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_VOIP">
				<annotation>
					<documentation>Configurar VoIP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_SERVICO_DIGITAL">
				<annotation>
					<documentation>Configurar Servico Digital</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIRMAR_DESIGNACAO">
				<annotation>
					<documentation>Confirmar Designação</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_SERVICO_DIGITAL">
				<annotation>
					<documentation>Desconfigurar Servico Digital</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONSULTAR_FACILIDADE_FISICA_NOVA">
				<annotation>
					<documentation>Consultar Facilidade Física Nova</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONSULTAR_FACILIDADE_FISICA_ORIGINAL">
				<annotation>
					<documentation>Consultar Facilidade Física Original</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONSULTAR_FACILIDADE_LOGICA_1_NOVA">
				<annotation>
					<documentation>Consultar Facilidade Lógica 1 Nova</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONSULTAR_FACILIDADE_LOGICA_1_ORIGINAL">
				<annotation>
					<documentation>Consultar Facilidade Lógica 1 Original</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONSULTAR_FACILIDADE_LOGICA_2_NOVA">
				<annotation>
					<documentation>Consultar Facilidade Lógica 2 Nova</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONSULTAR_FACILIDADE_LOGICA_2_ORIGINAL">
				<annotation>
					<documentation>Consultar Facilidade Lógica 2 Original</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESBLOQUEAR_HSI">
				<annotation>
					<documentation>Desbloquear HSI</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESBLOQUEAR_IPTV">
				<annotation>
					<documentation>Desbloquear IPTV</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESBLOQUEAR_OTT">
				<annotation>
					<documentation>Desbloquear OTT</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESBLOQUEAR_VOIP">
				<annotation>
					<documentation>Desbloquear VoIP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_HSI">
				<annotation>
					<documentation>Desconfigurar HSI</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_INFRA">
				<annotation>
					<documentation>Desconfigurar Infra</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_IPTV">
				<annotation>
					<documentation>Desconfigurar IPTV</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_OTT">
				<annotation>
					<documentation>Desconfigurar OTT</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_VOIP">
				<annotation>
					<documentation>Desconfigurar VoIP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESIGNAR_FACILIDADE">
				<annotation>
					<documentation>Designar Facilidade</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DISSOCIAR_STB">
				<annotation>
					<documentation>Dissociar STB</documentation>
				</annotation>
			</enumeration>
			<enumeration value="INSTALAR_EQUIPAMENTO_CLIENTE">
				<annotation>
					<documentation>Instalar Equipamento Cliente</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ALTERAR_EQUIPAMENTO_CLIENTE">
				<annotation>
					<documentation>Alterar Equipamento Cliente</documentation>
				</annotation>
			</enumeration>
			<enumeration value="LIBERAR_FACILIDADE">
				<annotation>
					<documentation>Liberar Facilidade</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NOTIFICAR_ENCERRAMENTO">
				<annotation>
					<documentation>Notificar Encerramento</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NOTIFICAR_PONTO_NAO_RETORNO">
				<annotation>
					<documentation>Notificar Ponto de Não Retorno</documentation>
				</annotation>
			</enumeration>
			<enumeration value="REALIZAR_JUMPER">
				<annotation>
					<documentation>Realizar Jumper</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RECONFIGURAR_HSI">
				<annotation>
					<documentation>Reconfigurar HSI</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RECONFIGURAR_OTT">
				<annotation>
					<documentation>Reconfigurar OTT</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RECONFIGURAR_IPTV">
				<annotation>
					<documentation>Reconfigurar IPTV</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RECONFIGURAR_VOIP">
				<annotation>
					<documentation>Reconfigurar VoIP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="REDESIGNAR_FACILIDADE">
				<annotation>
					<documentation>Redesignar Facilidade</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RETIRAR_EQUIPAMENTO_CLIENTE">
				<annotation>
					<documentation>Retirar Equipamento Cliente</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CANCELAR_DESIGNACAO">
				<annotation>
					<documentation>Cancelar Designação</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESBLOQUEIO_VAGO_VMP">
				<annotation>
					<documentation>Desbloqueio Vago VMP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BLOQUEIO_VAGO_VMP">
				<annotation>
					<documentation>Bloqueio Vago VMP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_INFRA_APC">
				<annotation>
					<documentation>Configurar Infra APC</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_INFRA_HDM">
				<annotation>
					<documentation>Configurar Infra HDM</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_INFRA_NASS">
				<annotation>
					<documentation>Configurar Infra NASS</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_INFRA_APC">
				<annotation>
					<documentation>Desconfigurar Infra APC</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_INFRA_HDM">
				<annotation>
					<documentation>Desconfigurar Infra HDM</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_INFRA_NASS">
				<annotation>
					<documentation>Desconfigurar Infra NASS</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_HSI_APC">
				<annotation>
					<documentation>Configurar HSI APC</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_HSI_HDM">
				<annotation>
					<documentation>Configurar HSI HDM</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_HSI_NASS">
				<annotation>
					<documentation>Configurar HSI NASS</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_HSI_APC">
				<annotation>
					<documentation>Desconfigurar HSI APC</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_HSI_HDM">
				<annotation>
					<documentation>Desconfigurar HSI HDM</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_HSI_NASS">
				<annotation>
					<documentation>Desconfigurar HSI NASS</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RECONFIGURAR_HSI_APC">
				<annotation>
					<documentation>Reconfigurar HSI APC</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RECONFIGURAR_HSI_NASS">
				<annotation>
					<documentation>Reconfigurar HSI NASS</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BLOQUEAR_HSI_APC">
				<annotation>
					<documentation>Bloquear HSI APC</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESBLOQUEAR_HSI_APC">
				<annotation>
					<documentation>Debloquear HSI APC</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_VOIP_APC">
				<annotation>
					<documentation>Configurar VoIP APC</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_VOIP_HDM">
				<annotation>
					<documentation>Configurar VoIP HDM</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_VOIP_IMS">
				<annotation>
					<documentation>Configurar VoIP IMS</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_VOIP_VMP">
				<annotation>
					<documentation>Configurar VoIP VMP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_VOIP_APC">
				<annotation>
					<documentation>Desconfigurar VoIP APC</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_VOIP_HDM">
				<annotation>
					<documentation>Desconfigurar VoIP HDM</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_VOIP_IMS">
				<annotation>
					<documentation>Desconfigurar VoIP IMS</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_VOIP_VMP">
				<annotation>
					<documentation>Desconfigurar VoIP VMP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RECONFIGURAR_VOIP_HDM">
				<annotation>
					<documentation>Reconfigurar VoIP HDM</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RECONFIGURAR_VOIP_IMS">
				<annotation>
					<documentation>Reconfigurar VoIP IMS</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RECONFIGURAR_VOIP_VMP">
				<annotation>
					<documentation>Reconfigurar VoIP VMP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BLOQUEAR_VOIP_IMS">
				<annotation>
					<documentation>Bloquear VoIP IMS</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESBLOQUEAR_VOIP_IMS">
				<annotation>
					<documentation>Desbloquear VoIP IMS</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_IPTV_APC">
				<annotation>
					<documentation>Configurar IPTV APC</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_IPTV_HDM">
				<annotation>
					<documentation>Configurar IPTV HDM</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_IPTV_NASS">
				<annotation>
					<documentation>Configurar IPTV NASS</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_IPTV_IESF">
				<annotation>
					<documentation>Configurar IPTV iESF</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_IPTV_APC">
				<annotation>
					<documentation>Desconfigurar IPTV APC</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_IPTV_HDM">
				<annotation>
					<documentation>Desconfigurar IPTV HDM</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_IPTV_NASS">
				<annotation>
					<documentation>Desconfigurar IPTV NASS</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_IPTV_IESF">
				<annotation>
					<documentation>Desconfigurar IPTV iESF</documentation>
				</annotation>
			</enumeration>
			<enumeration value="RECONFIGURAR_IPTV_IESF">
				<annotation>
					<documentation>Reconfigurar IPTV iESF</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BLOQUEAR_IPTV_IESF">
				<annotation>
					<documentation>Bloquear IPTV iESF</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BLOQUEAR_IPTV_APC">
				<annotation>
					<documentation>Bloquear IPTV APC</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESBLOQUEAR_IPTV_IESF">
				<annotation>
					<documentation>Desbloquear IPTV iESF</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESBLOQUEAR_IPTV_APC">
				<annotation>
					<documentation>Desbloquear IPTV APC</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONFIGURAR_OTT_IESF">
				<annotation>
					<documentation>Configurar OTT iESF</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESCONFIGURAR_OTT_IESF">
				<annotation>
					<documentation>Desconfigurar OTT iESF</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESBLOQUEAR_OTT_IESF">
				<annotation>
					<documentation>Desbloquear OTT iESF</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BLOQUEAR_OTT_IESF">
				<annotation>
					<documentation>Bloquear OTT iESF</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ASSOCIAR_ONT_APC">
				<annotation>
					<documentation>Associar ONT APC</documentation>
				</annotation>
			</enumeration>
			<enumeration value="INSERIR_FRANQUIA_IN">
				<annotation>
					<documentation>Inserir Franquia IN</documentation>
				</annotation>
			</enumeration>
			<enumeration value="REMOVER_FRANQUIA_IN">
				<annotation>
					<documentation>Remover Franquia IN</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MODIFICAR_FRANQUIA_IN">
				<annotation>
					<documentation>Alterar Franquia IN</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BLOQUEAR_VOIP_VMP_SERVICO">
				<annotation>
					<documentation>Bloquear VOiP VMP Servico</documentation>
				</annotation>
			</enumeration>
			<enumeration value="BLOQUEAR_VOIP_IMS_SERVICO">
				<annotation>
					<documentation>Bloquear VOiP IMS Servico</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESBLOQUEAR_VOIP_IMS_SERVICO">
				<annotation>
					<documentation>Desbloquear VOiP IMS Servico</documentation>
				</annotation>
			</enumeration>
			<enumeration value="DESBLOQUEAR_VOIP_VMP_SERVICO">
				<annotation>
					<documentation>Desbloquear VOiP VMP Servico</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONF_PERFIL_CLIENTE_IPTV_IESF">
				<annotation>
					<documentation>Configurar Perfil Cliente iESF</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ATUALIZAR_ESTOQUE">
				<annotation>
					<documentation>Atualizar Estoque</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SOLICITAR_ABERTURA_BA_SGFT">
				<annotation>
					<documentation>Solicitar Abertura Bilhete Atividade SGFT</documentation>
				</annotation>
			</enumeration>
			<enumeration value="INSERIR_PACOTE_ADICIONAL">
				<annotation>
					<documentation>Inserir Pacote Adicional</documentation>
				</annotation>
			</enumeration>
			<enumeration value="REMOVER_PACOTE_ADICIONAL">
				<annotation>
					<documentation>Remover Pacote Adicional</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CLOSE_ISSUE">
				<annotation>
					<documentation>Fechar Pendência</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CONSULTAR_EQUIPAMENTO_INVENTARIADO">
				<annotation>
					<documentation>Consultar Equipamento Inventariado</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="isConferencia">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Servi&amp;#231;o Digital Conferencia
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Conferencia</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="tipoPromocaoAcao">
		<annotation>
			<documentation>tipoPromocaoAcao</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="errorType">
		<annotation>
			<documentation>Error Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="string57">
		<annotation>
			<documentation>string57</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="57"/>
		</restriction>
	</simpleType>

	<simpleType name="LINEID2">
		<annotation>
			<documentation>LINE ID2</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="LINEID1">
		<annotation>
			<documentation>LINE ID1</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="interface">
		<annotation>
			<documentation>interface</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="nomeConta">
		<annotation>
			<documentation>Nome Conta</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="200"/>
		</restriction>
	</simpleType>

	<simpleType name="estacao">
		<annotation>
			<documentation>Estacao</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="cidade">
		<annotation>
			<documentation>Cidade</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="nomeDocument">
		<annotation>
			<documentation>nomeDocument</documentation>
		</annotation>
		<restriction base="cwf:String64">
		</restriction>
	</simpleType>

	<simpleType name="string50">
		<annotation>
			<documentation>string50</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="dataRetorno">
		<annotation>
			<documentation>Data de Retorno</documentation>
		</annotation>
		<restriction base="xsd:date">
		</restriction>
	</simpleType>

	<simpleType name="osDespachada">
		<annotation>
			<documentation>OS Despachada?</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="idSolicitacao">
		<annotation>
			<documentation>Id Solicitacao</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="ICX">
		<annotation>
			<documentation>ICX</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="obrigatoriedade">
		<annotation>
			<documentation>obrigatoriedade</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="nomeRazaoSocial">
		<annotation>
			<documentation>Nome Razao Social</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="200"/>
		</restriction>
	</simpleType>

	<!-- Structures -->

	<element name="acknowledge">
		<complexType >
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Resposta sincrona da ordem de servico
&lt;/p&gt;</documentation>
			<appinfo>
				<label>acknowledge</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="code" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="description" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>
	</element>

	<complexType name="serviceOrderSyncResponseType">
		<annotation>
			<documentation>&amp;lt;p style=&#34;margin-top: 0&#34;&amp;gt;      Resposta sincrona da ordem de servico.    &amp;lt;/p&amp;gt;</documentation>
			<appinfo>
				<label>serviceOrderSyncResponseType</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="code" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="description" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<element name="Ator" type="FTTHCommon:AtorType"/>

	<complexType name="AtorType">
		<annotation>
			<documentation>AtorType</documentation>
		</annotation>
			<sequence>
				<element name="nomeSolicitante" minOccurs="0" maxOccurs="1" type="FTTHCommon:nomeSolicitanteType"/>
				<element name="sistema" minOccurs="1" maxOccurs="1" type="FTTHCommon:sistemaType"/>
				<element name="senha" minOccurs="0" maxOccurs="1" type="FTTHCommon:senhaType"/>
			</sequence>
		</complexType>

	<element name="serviceOrderSyncResponse" type="FTTHCommon:serviceOrderSyncResponseType"/>

	<!-- Documents -->

	<complexType name="OpenEquipmentPopUp">
		<annotation>
			<documentation>Open Equipment PopUp</documentation>
		</annotation>
			<sequence>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="tipoPontoSTB" type="FTTHOrder:tipoPontoSTB"/>
				<element name="errorMessage" type="FTTHOrder:errorMessage"/>
			</sequence>
		</complexType>

	<complexType name="TBI_CONFIG_VARIABLE">
		<annotation>
			<documentation>TBI_CONFIG_VARIABLE</documentation>
		</annotation>
			<sequence>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="nome" type="FTTHCommon:string64"/>
				<element name="valor" type="FTTHCommon:string64"/>
			</sequence>
		</complexType>

	<complexType name="ErrorCodeDocDD">
		<annotation>
			<documentation>Error Code Doc DropDown</documentation>
		</annotation>
			<sequence>
				<element name="codErro" type="FTTHCommon:errorCode"/>
			</sequence>
		</complexType>

	<complexType name="NomeAtividadeQuery">
		<annotation>
			<documentation>Nome Atividade Query</documentation>
		</annotation>
			<sequence>
				<element name="atividade" type="cwf:String64"/>
			</sequence>
		</complexType>

	<complexType name="messageLogSearch">
		<annotation>
			<documentation>Message Log Search</documentation>
		</annotation>
			<sequence>
				<element name="messageID" type="cwf_pm:MessageID"/>
				<element name="avm" type="cwf_pm:VMID"/>
				<element name="interType" type="cwf:metaInterfacesId"/>
				<element name="operation" type="cwf:interOper"/>
				<element name="userId" type="cwf:userIdRef"/>
				<element name="fromTime" type="xsd:dateTime"/>
				<element name="toTime" type="xsd:dateTime"/>
				<element name="userData1" type="cwf_pm:userData"/>
				<element name="userData2" type="cwf_pm:userData"/>
				<element name="userData3" type="cwf_pm:userData"/>
			</sequence>
		</complexType>

	<complexType name="LogMessageUserDataDocument">
		<annotation>
			<documentation>Log Message User Data Document</documentation>
		</annotation>
			<sequence>
				<element name="numeroPedido" type="FTTHCommon:numeroPedido"/>
				<element name="numeroOS" type="FTTHCommon:numeroOS"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="correlationId" type="cwf:processId"/>
			</sequence>
		</complexType>

	<complexType name="participantTypeDocument">
		<annotation>
			<documentation>Participant Type Document</documentation>
		</annotation>
			<sequence>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="PARTICIPANT_TYPE" type="cwf_pm:PARTICIPANT_TYPE"/>
				<element name="participante" type="FTTHCommon:participante"/>
				<element name="atividade" type="FTTHCommon:atividade"/>
			</sequence>
		</complexType>

	<complexType name="InstallRemoveEquipmentPopUp">
		<annotation>
			<documentation>Install/Remove Equipment</documentation>
		</annotation>
			<sequence>
				<element name="msg" type="xsd:string"/>
				<element name="pontosNaoInstalados" type="xsd:boolean"/>
				<element name="labelMsg" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="ActivitySearch">
		<annotation>
			<documentation>ActivitySearch</documentation>
		</annotation>
			<sequence>
				<element name="orderId" type="cwf:orderId"/>
				<element name="operacao" type="cwf:String64"/>
				<element name="activityId" type="cwf:String64"/>
				<element name="executionDate" type="xsd:dateTime"/>
			</sequence>
		</complexType>

	<complexType name="activityOperationDocument">
		<annotation>
			<documentation>Activity Operation Document</documentation>
		</annotation>
			<sequence>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="operationWorklist" type="FTTHCommon:operationWorklist"/>
				<element name="atividade" type="FTTHCommon:atividade"/>
			</sequence>
		</complexType>

	<complexType name="Activity">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Acao determinada de acordo com a ordem enviada pelo OM
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Activity</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="orderId" type="cwf:orderId"/>
				<element name="activityId" type="FTTHCommon:idAtividade"/>
				<element name="status" type="FTTHCommon:statusAcao"/>
				<element name="indCancelamento" type="FTTHCommon:permiteCancelamento"/>
				<element name="initialDate" type="xsd:dateTime"/>
				<element name="executionDate" type="xsd:dateTime"/>
			</sequence>
		</complexType>

	<complexType name="MandatoryMessage">
		<annotation>
			<documentation>MandatoryMessage</documentation>
		</annotation>
			<sequence>
				<element name="fields" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="Request">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Documento relativo &amp;#224;s solicita&amp;#231;&amp;#245;es enviadas em uma ordem pelo OM
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Request</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="orderId" type="cwf:orderId"/>
				<element name="requestId" type="FTTHCommon:idSolicitacao"/>
			</sequence>
		</complexType>

	<complexType name="Issues">
		<annotation>
			<documentation>Issues</documentation>
		</annotation>
			<sequence>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="atividade" type="FTTHCommon:atividade"/>
				<element name="codPendencia" type="FTTHCommon:codigoPendencia"/>
				<element name="descPendencia" type="FTTHCommon:descricaoPendencia"/>
				<element name="tipoPendencia" type="FTTHCommon:tipoPendencia"/>
				<element name="atividadePendencia" type="FTTHCommon:atividadePendencia"/>
			</sequence>
		</complexType>

	<complexType name="MandatoryFields">
		<annotation>
			<documentation>Mandatory Fields</documentation>
		</annotation>
			<sequence>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="interface" type="FTTHCommon:interface"/>
				<element name="nomeAtividade" type="FTTHCommon:nomeAtividade"/>
				<element name="operacao" type="FTTHCommon:operacao"/>
				<element name="nomeDocument" type="FTTHCommon:nomeDocument"/>
				<element name="identificadorCampo" type="FTTHCommon:campoObrigatorio"/>
				<element name="nomeCampo" type="FTTHCommon:campoObrigatorio"/>
				<element name="descricaoCampo" type="FTTHCommon:nomeCampo"/>
				<element name="obrigatoriedade" type="FTTHCommon:obrigatoriedade"/>
				<element name="dadoOriginal" type="FTTHCommon:dadoOriginal"/>
				<element name="direcao" type="FTTHCommon:direcao"/>
				<element name="tipoOS" type="FTTHCommon:tipoOS"/>
			</sequence>
		</complexType>

	<complexType name="Event">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Documento dos eventos enviados/recebidos pelos sistemas externos.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Event</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
				<element name="correlationId" type="cwf_pm:PROCESS_ID"/>
				<element name="sistema" type="cwf:String64"/>
				<element name="atividade" type="FTTHCommon:atividade"/>
				<element name="status" type="FTTHCommon:statusAtividade"/>
				<element name="codigo" type="cwt_common:string32"/>
				<element name="descricao" type="cwt_common:string1024"/>
				<element name="dataExecucao" type="xsd:dateTime"/>
				<element name="direcao" type="cwt_common:string32"/>
				<element name="indCancelamento" type="FTTHCommon:permiteCancelamento"/>
			</sequence>
		</complexType>

	<complexType name="IssueDocDD">
		<annotation>
			<documentation>Issue Doc DropDown</documentation>
		</annotation>
			<sequence>
				<element name="codPendencia" type="FTTHCommon:codigoPendencia"/>
				<element name="descricaoPendencia" type="FTTHCommon:descricaoPendencia"/>
			</sequence>
		</complexType>

	<complexType name="Log">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Log das atividades executadas em uma ordem.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Log</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="ordemId" type="cwf:String64"/>
				<element name="sistema" type="cwt_common:string32"/>
				<element name="atividade" type="cwf:String64"/>
				<element name="dataExecucao" type="xsd:date"/>
				<element name="status" type="cwf:String64"/>
				<element name="codigo" type="cwf:String64"/>
				<element name="descricao" type="cwt_common:string512"/>
				<element name="direcao" type="cwt_common:string32"/>
			</sequence>
		</complexType>

	<complexType name="OperationProcess">
		<annotation>
			<documentation>Operation Process</documentation>
		</annotation>
			<sequence>
				<element name="correlationId" type="cwt_common:string32"/>
				<element name="activity" type="FTTHCommon:atividade"/>
				<element name="operation" type="cwt_common:string512"/>
			</sequence>
		</complexType>

	<complexType name="OpenIssuePopUp">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Document respons&amp;#225;vel pelo pop up que dever&amp;#225; ser criado no momento em que
  a atividade manual &amp;#233; finalizada com pend&amp;#234;ncia.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Open Issue Pop Up</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="operationWorklist" type="FTTHCommon:operationWorklist"/>
				<element name="listaIdItens" type="xsd:boolean"/>
				<element name="idItem" type="xsd:string"/>
				<element name="atividade" type="FTTHCommon:atividade"/>
				<element name="codPendencia" type="FTTHCommon:codigoPendencia"/>
				<element name="descPendencia" type="FTTHCommon:descricaoPendencia"/>
				<element name="tipoPendencia" type="FTTHCommon:tipoPendencia"/>
				<element name="ba" type="FTTHCommon:BA"/>
				<element name="ars" type="FTTHCommon:ARS"/>
				<element name="dataAbertura" type="FTTHCommon:dataAbertura"/>
				<element name="matriculaUsuario" type="FTTHCommon:matriculaUsuario"/>
				<element name="nomeUsuario" type="FTTHCommon:nomeUsuario"/>
				<element name="observacao" type="FTTHCommon:observacao"/>
				<element name="cwOrderId" type="cwf:cwOrderId"/>
			</sequence>
		</complexType>

	<complexType name="ErrorTypeDocument">
		<annotation>
			<documentation>Error Type Document</documentation>
		</annotation>
			<sequence>
				<element name="cwDocId" type="cwf:cwDocId"/>
				<element name="errorCode" type="FTTHCommon:errorCode"/>
				<element name="errorType" type="FTTHCommon:errorType"/>
				<element name="errorDescription" type="FTTHCommon:errorDescription"/>
				<element name="downstreamSystem" type="FTTHCommon:downstreamSystem"/>
			</sequence>
		</complexType>

</schema>
