Metadados/resources/schema/FTTHClickInterface.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema targetNamespace="FTTHClickInterface"	
	xmlns="http://www.w3.org/2001/XMLSchema"	
	xmlns:FTTHClickInterface="FTTHClickInterface"	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
	xmlns:cwf="http://www.conceptwave.com/system"	
	xmlns:FTTHOrderManagementInterface="FTTHOrderManagementInterface">



	<import namespace="http://www.conceptwave.com/system" schemaLocation="cwf.xsd"/>
	<import namespace="FTTHOrderManagementInterface" schemaLocation="FTTHOrderManagementInterface.xsd"/>

	<annotation>
		<documentation>FTTH Click Interface</documentation>
	</annotation>

	<!-- Data types and elements -->

	<simpleType name="descricaoLivre">
		<annotation>
			<documentation>descricaoLivre</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4000"/>
		</restriction>
	</simpleType>

	<simpleType name="quantidadePontosIPTV">
		<annotation>
			<documentation>quantidadePontosIPTV</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="localidade">
		<annotation>
			<documentation>localidade</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="60"/>
		</restriction>
	</simpleType>

	<simpleType name="tecnologiaExecutada">
		<annotation>
			<documentation>tecnologiaExecutada</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="nomePlanoIPTV">
		<annotation>
			<documentation>nomePlanoIPTV</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="splitterPort">
		<annotation>
			<documentation>splitterPort</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="qtdPontosDVRGratis">
		<annotation>
			<documentation>qtdPontosDVRGratis</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="motivoRetirada">
		<annotation>
			<documentation>motivoRetirada</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="400"/>
		</restriction>
	</simpleType>

	<simpleType name="nomePSR">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Nome da prestadora de servi&amp;#231;o de rede que executou o encerramento
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Nome da PSR</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="255"/>
		</restriction>
	</simpleType>

	<simpleType name="idAtivo">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Identifcador do item do ponto IPTV
&lt;/p&gt;</documentation>
			<appinfo>
				<label>ID Ativo</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="numeroProduto">
		<annotation>
			<documentation>numeroProduto</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="15"/>
		</restriction>
	</simpleType>

	<simpleType name="descricaoDoComplemento">
		<annotation>
			<documentation>descricaoDoComplemento</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="45"/>
		</restriction>
	</simpleType>

	<simpleType name="caboDrop">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Cabo Drop
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Cabo Drop</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="OLTSHELF">
		<annotation>
			<documentation>OLTSHELF</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="campoFibra">
		<annotation>
			<documentation>campoFibra</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="dataHoraFim">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Data/Hora do fim da atividade
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Data/Hora do fim</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="19"/>
		</restriction>
	</simpleType>

	<simpleType name="nomeDoCliente">
		<annotation>
			<documentation>nomeDoCliente</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="80"/>
		</restriction>
	</simpleType>

	<simpleType name="OLTSLOT">
		<annotation>
			<documentation>OLTSLOT</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="codMaterial">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Especifica&amp;#231;&amp;#227;o do tipo de equipamento que est&amp;#225; sendo Instalado/Removido
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Código do Material</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="BSP">
		<annotation>
			<documentation>BSP</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="portabilidadeInterna">
		<annotation>
			<documentation>portabilidadeInterna</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="numeroDoLote">
		<annotation>
			<documentation>numeroDoLote</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="5"/>
		</restriction>
	</simpleType>

	<simpleType name="bundleId">
		<annotation>
			<documentation>bundleId</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="portabilidadeReceptora">
		<annotation>
			<documentation>portabilidadeReceptora</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="siglaEstado">
		<annotation>
			<documentation>siglaEstado</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="5"/>
		</restriction>
	</simpleType>

	<simpleType name="isBina">
		<annotation>
			<documentation>isBina</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="transactionId">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Identificador da transa&amp;#231;&amp;#227;o enviado pelo Click na abertura da requisi&amp;#231;&amp;#227;o
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Transaction ID</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="isChamadaEspera">
		<annotation>
			<documentation>isChamadaEspera</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="enderecoCDO">
		<annotation>
			<documentation>enderecoCDO</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>

	<simpleType name="velocidadeUpload">
		<annotation>
			<documentation>velocidadeUpload</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="motivoEquipamento">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Motivo da n&amp;#227;o devolu&amp;#231;&amp;#227;o do equipamento
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Motivo</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="250"/>
		</restriction>
	</simpleType>

	<simpleType name="isCaixaPostal">
		<annotation>
			<documentation>isCaixaPostal</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="nomePlanoCliente">
		<annotation>
			<documentation>nomePlanoCliente</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="60"/>
		</restriction>
	</simpleType>

	<simpleType name="informacoesAdicionais">
		<annotation>
			<documentation>informacoesAdicionais</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="250"/>
		</restriction>
	</simpleType>

	<simpleType name="ocorrencia">
		<annotation>
			<documentation>ocorrencia</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="cep">
		<annotation>
			<documentation>cep</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
		</restriction>
	</simpleType>

	<simpleType name="CEOSCaminho">
		<annotation>
			<documentation>CEOSCaminho</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>

	<simpleType name="CDO">
		<annotation>
			<documentation>CDO</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="orderId">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Enviado na cria&amp;#231;&amp;#227;o do BA
&lt;/p&gt;</documentation>
			<appinfo>
				<label>orderId</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="tipoDeComplemento">
		<annotation>
			<documentation>tipoDeComplemento</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="foiDevolvidoEquipamento">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Indicativo se o equipamento foi devolvido em caso de retirada no Cliente
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Equipamento devolvido?</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="nomePlanoHSI">
		<annotation>
			<documentation>nomePlanoHSI</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="nomePlanoVoIP">
		<annotation>
			<documentation>nomePlanoVoIP</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="correlationId">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Id do Processo que est&amp;#225; executando a atividade.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Correlation ID</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="nomeDoLogradouro">
		<annotation>
			<documentation>nomeDoLogradouro</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="200"/>
		</restriction>
	</simpleType>

	<simpleType name="uf">
		<annotation>
			<documentation>uf</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="dataHoraEncerramento">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Data/hora da opera&amp;#231;&amp;#227;o no sistema solicitante
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Data/Hora do Encerramento</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="19"/>
		</restriction>
	</simpleType>

	<simpleType name="qtdPontosHDPago">
		<annotation>
			<documentation>qtdPontosHDPago</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="tipoDeLogradouro">
		<annotation>
			<documentation>tipoDeLogradouro</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
		</restriction>
	</simpleType>

	<simpleType name="codPSR">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  C&amp;#243;digo da prestadora de servi&amp;#231;o de rede que executou o encerramento
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Código da PSR</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="sistemaDestino">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Sistema de origem que est&amp;#225; chamando o Servi&amp;#231;o de encerramento de BA
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Sistema Destino</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
		</restriction>
	</simpleType>

	<simpleType name="sistema">
		<annotation>
			<documentation>Sistema</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
			<enumeration value="SAP">
				<annotation>
					<documentation>SAP</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SIS">
				<annotation>
					<documentation>SIS</documentation>
				</annotation>
			</enumeration>
			<enumeration value="NETWIN">
				<annotation>
					<documentation>NETWIN</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="acao">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  A&amp;#231;&amp;#227;o executada para o equipamento (adicionar/remover)
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Ação</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="acessoGPON">
		<annotation>
			<documentation>acessoGPON</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="codEncerramento">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  C&amp;#243;digo do encerramento de uma BA.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Código do Encerramento</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="5"/>
		</restriction>
	</simpleType>

	<simpleType name="nomeSolicitante">
		<annotation>
			<documentation>nomeSolicitante</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="80"/>
		</restriction>
	</simpleType>

	<simpleType name="descricaoMaterial">
		<annotation>
			<documentation>Descrição do Material</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="250"/>
		</restriction>
	</simpleType>

	<simpleType name="dataInstalacao">
		<annotation>
			<documentation>dataInstalacao</documentation>
		</annotation>
		<restriction base="xsd:date">
		</restriction>
	</simpleType>

	<simpleType name="velocidadeContratada">
		<annotation>
			<documentation>velocidadeContratada</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="pontoDeReferencia">
		<annotation>
			<documentation>pontoDeReferencia</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="55"/>
		</restriction>
	</simpleType>

	<simpleType name="origem">
		<annotation>
			<documentation>origem</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="portabilidadeInternaComTrocaDeTecnologia">
		<annotation>
			<documentation>portabilidadeInternaComTrocaDeTecnologia</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="codigoRoteamento">
		<annotation>
			<documentation>codigoRoteamento</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>

	<simpleType name="acao10">
		<annotation>
			<documentation>acao10</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
		</restriction>
	</simpleType>

	<simpleType name="tipoTerminal">
		<annotation>
			<documentation>tipoTerminal</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="40"/>
		</restriction>
	</simpleType>

	<simpleType name="mercadoUnidadeNegocio">
		<annotation>
			<documentation>mercadoUnidadeNegocio</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="portabilidade">
		<annotation>
			<documentation>portabilidade</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
		</restriction>
	</simpleType>

	<simpleType name="detalhes">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Detalhes do retorno do encerramento externo
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Detalhes</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="150"/>
		</restriction>
	</simpleType>

	<simpleType name="descricao">
		<annotation>
			<documentation>Descrição</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="150"/>
		</restriction>
	</simpleType>

	<simpleType name="operacao">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Opera&amp;#231;&amp;#227;o a ser executada pelo OM
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Operação</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
			<enumeration value="Validar CPE">
				<annotation>
					<documentation>Validar CPE</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Trocar CPE">
				<annotation>
					<documentation>Trocar CPE</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Associar CPE">
				<annotation>
					<documentation>Associar CPE</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="codigo">
		<annotation>
			<documentation>&lt;table&gt;
  &lt;tr width=&#34;318&#34; height=&#34;30&#34; style=&#34;height: 22.5pt&#34;&gt;
    &lt;td width=&#34;318&#34; height=&#34;30&#34; class=&#34;xl18&#34; style=&#34;width: 239pt; height: 22.5pt&#34;&gt;
      C&amp;#243;digo de retorno do encerramento externo
    &lt;/td&gt;
  &lt;/tr&gt;
&lt;/table&gt;</documentation>
			<appinfo>
				<label>Código de retorno</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="5"/>
		</restriction>
	</simpleType>

	<simpleType name="numPedido">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  N&amp;#250;mero do pedido que foi enviado no Request da abertura de BA
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Número Pedido</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="cpf">
		<annotation>
			<documentation>cpf</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="18"/>
		</restriction>
	</simpleType>

	<simpleType name="cwOrderId">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  ID da Ordem de Servi&amp;#231;o que &amp;#233; gerado no OM.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Order ID</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="OLTRACK">
		<annotation>
			<documentation>OLTRACK</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="ARDO">
		<annotation>
			<documentation>ARDO</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="CDOCaminho">
		<annotation>
			<documentation>CDOCaminho</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>

	<simpleType name="OLTPORT">
		<annotation>
			<documentation>OLTPORT</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="numeroBA">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  N&amp;#250;mero do BA que est&amp;#225; sendo encerrado
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Número do BA</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="15"/>
		</restriction>
	</simpleType>

	<simpleType name="alertaPropensao">
		<annotation>
			<documentation>alertaPropensao</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="isSigame">
		<annotation>
			<documentation>isSigame</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="observacao">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Observa&amp;#231;&amp;#227;o
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Observação</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="250"/>
		</restriction>
	</simpleType>

	<simpleType name="telefoneContato">
		<annotation>
			<documentation>telefoneContato</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="15"/>
		</restriction>
	</simpleType>

	<simpleType name="CDOIA">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  CDOIA
&lt;/p&gt;</documentation>
			<appinfo>
				<label>CDOIA</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="DGO">
		<annotation>
			<documentation>DGO</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="SVLAN">
		<annotation>
			<documentation>SVLAN</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4"/>
		</restriction>
	</simpleType>

	<simpleType name="indicador">
		<annotation>
			<documentation>indicador</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
		</restriction>
	</simpleType>

	<simpleType name="quantidadePontosRFTV">
		<annotation>
			<documentation>quantidadePontosRFTV</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="OLTGALC">
		<annotation>
			<documentation>OLTGALC</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="prioridadeBA">
		<annotation>
			<documentation>prioridadeBA</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="CVLAN">
		<annotation>
			<documentation>CVLAN</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4"/>
		</restriction>
	</simpleType>

	<simpleType name="matriculaTecnico">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Matr&amp;#237;cula do t&amp;#233;cnico de campo que executou o encerramento
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Matrícula do Técnico</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="tipoEquipamento">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Tipo de Equipamento que est&amp;#225; sendo Validado/Trocado
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Tipo de Equipamento</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="20"/>
			<enumeration value="HGW">
				<annotation>
					<documentation>HGW</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ONT">
				<annotation>
					<documentation>ONT</documentation>
				</annotation>
			</enumeration>
			<enumeration value="STB">
				<annotation>
					<documentation>STB</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="dataHoraInicio">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Data/Hora do in&amp;#237;cio da atividade
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Data/Hora do início</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="19"/>
		</restriction>
	</simpleType>

	<simpleType name="instalado">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Indicativo de instala&amp;#231;&amp;#227;o do equipamento na casa do Cliente
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Equipamento Instalado?</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="qtdPontosRFOverlay">
		<annotation>
			<documentation>qtdPontosRFOverlay</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="appId">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Identificador do OM para o SOA
&lt;/p&gt;</documentation>
			<appinfo>
				<label>appId</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="6"/>
		</restriction>
	</simpleType>

	<simpleType name="qtdPontosHDGratis">
		<annotation>
			<documentation>qtdPontosHDGratis</documentation>
		</annotation>
		<restriction base="xsd:integer">
			<totalDigits value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="timeStamp">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  hora qu eestou enviando a resposta
&lt;/p&gt;</documentation>
			<appinfo>
				<label>timeStamp</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:date">
		</restriction>
	</simpleType>

	<simpleType name="nomePlanoRFTV">
		<annotation>
			<documentation>nomePlanoRFTV</documentation>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="transactId">
		<annotation>
			<documentation>TransactId</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="65"/>
		</restriction>
	</simpleType>

	<simpleType name="transactIdClick">
		<annotation>
			<documentation>TransactId</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="65"/>
		</restriction>
	</simpleType>

	<simpleType name="nomePlanoOTT">
		<annotation>
			<documentation>nomePlanoOTT</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="caboRaiser">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Cabo Riser
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Cabo Riser</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="possuiDVRIntegrado">
		<annotation>
			<documentation>Equipamento Possui DVR Integrado</documentation>
			<appinfo>
				<help>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Indicativo se o equipamento possui DVR Integrado
&lt;/p&gt;</help>
			</appinfo>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="matriculaAuxiliar">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Matr&amp;#237;cula do t&amp;#233;cnico auxiliar de campo que auxiliou o encerramento
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Matrícula do Auxiliar</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="numeroSerieEquipamento">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  N&amp;#250;mero de S&amp;#233;rie do Equipamento instalado/removido do Cliente
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Número de Série do Equipamento</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="nomePacote">
		<annotation>
			<documentation>nomePacote</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="atividade">
		<annotation>
			<documentation>atividade</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="isConferencia">
		<annotation>
			<documentation>isConferencia</documentation>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="deviceGUID">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Identificador do Equipamento
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Device GUID</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="36"/>
		</restriction>
	</simpleType>

	<simpleType name="CEOCaminho">
		<annotation>
			<documentation>CEOCaminho</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>

	<simpleType name="velocidadeDownload">
		<annotation>
			<documentation>velocidadeDownload</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="nomeTecnico">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Nome do t&amp;#233;cnico de campo que executou o encerramento
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Nome do Técnico</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="dataHoraAberturaOS">
		<annotation>
			<documentation>dataHoraAberturaOS</documentation>
		</annotation>
		<restriction base="xsd:date">
		</restriction>
	</simpleType>

	<simpleType name="flagDeNaoRetorno">
		<annotation>
			<documentation>flagDeNaoRetorno</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="5"/>
		</restriction>
	</simpleType>

	<simpleType name="LINEID2">
		<annotation>
			<documentation>LINEID2</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4"/>
		</restriction>
	</simpleType>

	<simpleType name="aprazado">
		<annotation>
			<documentation>aprazado</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="1"/>
		</restriction>
	</simpleType>

	<simpleType name="LINEID1">
		<annotation>
			<documentation>LINEID1</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="4"/>
		</restriction>
	</simpleType>

	<simpleType name="bairro">
		<annotation>
			<documentation>bairro</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="sistemaSolicitante">
		<annotation>
			<documentation>Sistema Solicitante</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
		</restriction>
	</simpleType>

	<simpleType name="municipio">
		<annotation>
			<documentation>municipio</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="identificador">
		<annotation>
			<documentation>identificador</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="DocumentoAssociado">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  N&amp;#250;mero da OS
&lt;/p&gt;</documentation>
			<appinfo>
				<label>Documento Associado</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="perfilCliente">
		<annotation>
			<documentation>perfilCliente</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="10"/>
		</restriction>
	</simpleType>

	<simpleType name="ICX">
		<annotation>
			<documentation>ICX</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<!-- Structures -->

	<complexType name="matriculaAuxiliarList">
		<annotation>
			<documentation>matriculaAuxiliarList</documentation>
		</annotation>
			<sequence>
				<element name="matriculaAuxiliar" minOccurs="0" maxOccurs="3" type="FTTHClickInterface:matriculaAuxiliar"/>
			</sequence>
		</complexType>

	<complexType name="equipmentDataType">
		<annotation>
			<documentation>equipmentDataType</documentation>
		</annotation>
			<sequence>
				<element name="numeroSerieEquipamento" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:numeroSerieEquipamento"/>
				<element name="tipoEquipamento" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:tipoEquipamento"/>
				<element name="idAtivo" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:idAtivo"/>
				<element name="codMaterial" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:codMaterial"/>
				<element name="acao" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:acao"/>
				<element name="motivoEquipamento" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:motivoEquipamento"/>
				<element name="descricaoMaterial" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:descricaoMaterial"/>
				<element name="possuiDVRIntegrado" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:possuiDVRIntegrado"/>
				<element name="foiDevolvidoEquipamento" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:foiDevolvidoEquipamento"/>
				<element name="instalado" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:instalado"/>
				<element name="deviceGUID" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:deviceGUID"/>
			</sequence>
		</complexType>

	<complexType name="header">
		<annotation>
			<documentation>header</documentation>
		</annotation>
			<sequence>
				<element name="codPSR" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:codPSR"/>
				<element name="nomePSR" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:nomePSR"/>
				<element name="numPedido" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:numPedido"/>
				<element name="operacao" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:operacao"/>
				<element name="transactionId" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:transactionId"/>
				<element name="orderId" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:orderId"/>
				<element name="DocumentoAssociado" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:DocumentoAssociado"/>
				<element name="sistemaDestino" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:sistemaDestino"/>
				<element name="numeroBA" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:numeroBA"/>
				<element name="correlationId" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:correlationId"/>
				<element name="cwOrderId" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:cwOrderId"/>
			</sequence>
		</complexType>

	<complexType name="closingBAWFMResponse">
		<annotation>
			<documentation>closingBAWFMResponse</documentation>
		</annotation>
			<sequence>
				<element name="code" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:codigo"/>
				<element name="reason" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:descricao"/>
				<element name="detail" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:detalhes"/>
			</sequence>
		</complexType>

	<complexType name="executionDataType">
		<annotation>
			<documentation>executionDataType</documentation>
		</annotation>
			<sequence>
				<element name="codigoPSR" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:codPSR"/>
				<element name="nomePSR" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:nomePSR"/>
				<element name="matriculaTecnico" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:matriculaTecnico"/>
				<element name="nomeTecnico" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:nomeTecnico"/>
				<element name="observacao" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:observacao"/>
				<element name="dataHoraInicio" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:dataHoraInicio"/>
				<element name="dataHoraFim" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:dataHoraFim"/>
				<element name="idAtivo" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:idAtivo"/>
				<element name="matriculaAuxiliarLista" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:matriculaAuxiliarList"/>
			</sequence>
		</complexType>

	<complexType name="closingBAWFMRequest">
		<annotation>
			<documentation>closingBAWFMRequest</documentation>
		</annotation>
			<sequence>
				<element name="executionData" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:executionDataType"/>
				<element name="Header" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:header"/>
				<element name="equipmentList" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:equipamentsClosingList"/>
				<element name="installationData" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:InstallationDataType"/>
				<element name="serviceOrderResponse" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:serviceOrderResponseType"/>
			</sequence>
		</complexType>

	<complexType name="InstallationDataType">
		<annotation>
			<documentation>InstallationDataType</documentation>
		</annotation>
			<sequence>
				<element name="codEncerramento" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:codEncerramento"/>
				<element name="codEncerramentoTarefa" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:codEncerramento"/>
				<element name="caboRaiser" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:caboRaiser"/>
				<element name="caboDrop" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:caboDrop"/>
				<element name="CDOIA" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:CDOIA"/>
				<element name="correlationId" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:correlationId"/>
				<element name="sistemaDestino" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:sistemaDestino"/>
				<element name="DocumentoAssociado" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:DocumentoAssociado"/>
				<element name="numeroBA" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:numeroBA"/>
				<element name="cwOrderId" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:cwOrderId"/>
			</sequence>
		</complexType>

	<complexType name="equipamentsClosingList">
		<annotation>
			<documentation>equipamentsClosingList</documentation>
		</annotation>
			<sequence>
				<element name="equipmentData" minOccurs="0" maxOccurs="unbounded" type="FTTHClickInterface:equipmentDataClosingType"/>
			</sequence>
		</complexType>

	<complexType name="acknowledge">
		<annotation>
			<documentation>acknowledge</documentation>
		</annotation>
			<sequence>
				<element name="transactionId" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:transactionId"/>
				<element name="codigo" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:codigo"/>
				<element name="descricao" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:descricao"/>
				<element name="detalhes" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:detalhes"/>
			</sequence>
		</complexType>

	<complexType name="serviceOrderResponseType">
		<annotation>
			<documentation>serviceOrderResponseType</documentation>
		</annotation>
			<sequence>
				<element name="codEncerramento" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:codEncerramento"/>
			</sequence>
		</complexType>

	<complexType name="validateChangeAssociateResponse">
		<annotation>
			<documentation>validateChangeAssociateResponse</documentation>
		</annotation>
			<sequence>
				<element name="sistema" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:sistema"/>
				<element name="codigo" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:codigo"/>
				<element name="descricao" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:descricao"/>
				<element name="appId" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:appId"/>
				<element name="timeStamp" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:timeStamp"/>
				<element name="transactId" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:transactId"/>
				<element name="transactIdClick" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:transactIdClick"/>
				<element name="detalhes" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:detalhes"/>
			</sequence>
		</complexType>

	<complexType name="equipmentDataClosingType">
		<annotation>
			<documentation>equipmentDataClosingType</documentation>
		</annotation>
			<sequence>
				<element name="idAtivo" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:idAtivo"/>
				<element name="numeroSerieEquipamento" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:numeroSerieEquipamento"/>
				<element name="descricaoMaterial" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:descricaoMaterial"/>
				<element name="codMaterial" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:codMaterial"/>
				<element name="possuiDVRIntegrado" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:possuiDVRIntegrado"/>
				<element name="foiDevolvidoEquipamento" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:foiDevolvidoEquipamento"/>
				<element name="motivoEquipamento" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:motivoEquipamento"/>
				<element name="instalado" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:instalado"/>
				<element name="deviceGUID" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:deviceGUID"/>
				<element name="acao" minOccurs="0" maxOccurs="1" type="FTTHClickInterface:acao"/>
			</sequence>
		</complexType>

	<complexType name="equipamentsList">
		<annotation>
			<documentation>equipamentsList</documentation>
		</annotation>
			<sequence>
				<element name="equipmentData" minOccurs="1" maxOccurs="2" type="FTTHClickInterface:equipmentDataType"/>
			</sequence>
		</complexType>

	<complexType name="validateChangeAssociateRequest">
		<annotation>
			<documentation>validateChangeAssociateRequest</documentation>
		</annotation>
			<sequence>
				<element name="header" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:header"/>
				<element name="equipamentList" minOccurs="1" maxOccurs="1" type="FTTHClickInterface:equipamentsList"/>
			</sequence>
		</complexType>

	<!-- Documents -->

	<complexType name="CaminhoFibraOSSearch">
		<annotation>
			<documentation>CaminhoFibraOSSearch</documentation>
		</annotation>
			<sequence>
				<element name="orderId" type="FTTHClickInterface:orderId"/>
				<element name="campoFibra" type="FTTHClickInterface:campoFibra"/>
			</sequence>
		</complexType>

	<complexType name="DataAberturaOS">
		<annotation>
			<documentation>DataAberturaOS</documentation>
		</annotation>
			<sequence>
				<element name="dataHoraAberturaOS" type="FTTHClickInterface:dataHoraAberturaOS"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
			</sequence>
		</complexType>

	<complexType name="ValidateEquipmentDoc">
		<annotation>
			<documentation>ValidateEquipmentDoc</documentation>
		</annotation>
			<sequence>
				<element name="numeroSerieEquipamentoNovo" type="FTTHClickInterface:numeroSerieEquipamento"/>
				<element name="numeroSerieEquipamentoOriginal" type="FTTHClickInterface:numeroSerieEquipamento"/>
				<element name="tipoEquipamentoNovo" type="FTTHClickInterface:tipoEquipamento"/>
				<element name="tipoEquipamentoOriginal" type="FTTHClickInterface:tipoEquipamento"/>
				<element name="idAtivoNovo" type="FTTHClickInterface:idAtivo"/>
				<element name="idAtivoOriginal" type="FTTHClickInterface:idAtivo"/>
				<element name="codMaterialNovo" type="FTTHClickInterface:codMaterial"/>
				<element name="codMaterialOriginal" type="FTTHClickInterface:codMaterial"/>
				<element name="acaoNovo" type="FTTHClickInterface:acao"/>
				<element name="acaoOriginal" type="FTTHClickInterface:acao"/>
				<element name="codPSR" type="FTTHClickInterface:codPSR"/>
				<element name="nomePSR" type="FTTHClickInterface:nomePSR"/>
				<element name="numPedido" type="FTTHClickInterface:numPedido"/>
				<element name="operacao" type="FTTHClickInterface:operacao"/>
				<element name="transactionId" type="FTTHClickInterface:transactionId"/>
				<element name="orderId" type="FTTHClickInterface:orderId"/>
				<element name="AtualizarCPENetwin" type="FTTHOrderManagementInterface:status"/>
				<element name="ValidarCPESAP" type="FTTHOrderManagementInterface:status"/>
				<element name="DisassociarSTBSIS" type="FTTHOrderManagementInterface:status"/>
				<element name="AssociarONTSIS" type="FTTHOrderManagementInterface:status"/>
				<element name="correlationId" type="FTTHClickInterface:correlationId"/>
			</sequence>
		</complexType>

	<complexType name="DataHoraAberturaOSSearch">
		<annotation>
			<documentation>DataHoraAberturaOSSearch</documentation>
		</annotation>
			<sequence>
				<element name="orderId" type="FTTHClickInterface:orderId"/>
			</sequence>
		</complexType>

	<complexType name="ExternalCloseBA">
		<annotation>
			<documentation>ExternalCloseBA</documentation>
		</annotation>
			<sequence>
				<element name="codEncerramento" type="FTTHClickInterface:codEncerramento"/>
				<element name="dataHoraFim" type="FTTHClickInterface:dataHoraFim"/>
				<element name="dataHoraInicio" type="FTTHClickInterface:dataHoraInicio"/>
				<element name="dataHoraEncerramento" type="FTTHClickInterface:dataHoraEncerramento"/>
				<element name="matriculaOperador" type="FTTHClickInterface:matriculaTecnico"/>
				<element name="numeroBA" type="FTTHClickInterface:numeroBA"/>
				<element name="matriculaTecnico" type="FTTHClickInterface:matriculaTecnico"/>
				<element name="sistemaSolicitante" type="FTTHClickInterface:sistemaSolicitante"/>
				<element name="flagDeNaoRetorno" type="FTTHClickInterface:flagDeNaoRetorno"/>
				<element name="matriculaAuxiliar" type="FTTHClickInterface:matriculaAuxiliar"/>
			</sequence>
		</complexType>

	<complexType name="CaminhoFibra">
		<annotation>
			<documentation>CaminhoFibra</documentation>
		</annotation>
			<sequence>
				<element name="valor" type="FTTHClickInterface:campoFibra"/>
				<element name="cwDocId" type="cwf:cwDocId"/>
			</sequence>
		</complexType>

	<complexType name="CreateOrUpdateBA">
		<annotation>
			<documentation>CreateOrUpdateBA</documentation>
		</annotation>
			<sequence>
				<element name="informacoesAdicionais" type="FTTHClickInterface:informacoesAdicionais"/>
				<element name="observacoes" type="FTTHClickInterface:informacoesAdicionais"/>
				<element name="descricaoDefeito" type="FTTHClickInterface:informacoesAdicionais"/>
				<element name="informacaoFTTH" type="FTTHClickInterface:informacoesAdicionais"/>
				<element name="cep" type="FTTHClickInterface:cep"/>
				<element name="bairro" type="FTTHClickInterface:bairro"/>
				<element name="numeroDoLote" type="FTTHClickInterface:numeroDoLote"/>
				<element name="tipoDeComplemento1" type="FTTHClickInterface:tipoDeComplemento"/>
				<element name="descricaoDoComplemento1" type="FTTHClickInterface:descricaoDoComplemento"/>
				<element name="tipoDeComplemento2" type="FTTHClickInterface:tipoDeComplemento"/>
				<element name="descricaoDoComplemento2" type="FTTHClickInterface:descricaoDoComplemento"/>
				<element name="tipoDeComplemento3" type="FTTHClickInterface:tipoDeComplemento"/>
				<element name="descricaoDoComplemento3" type="FTTHClickInterface:descricaoDoComplemento"/>
				<element name="nomeDoLogradouro" type="FTTHClickInterface:nomeDoLogradouro"/>
				<element name="uf" type="FTTHClickInterface:uf"/>
				<element name="municipio" type="FTTHClickInterface:municipio"/>
				<element name="localidade" type="FTTHClickInterface:localidade"/>
				<element name="tipoDeLogradouro" type="FTTHClickInterface:tipoDeLogradouro"/>
				<element name="pontoDeReferencia" type="FTTHClickInterface:pontoDeReferencia"/>
				<element name="atividade" type="FTTHClickInterface:atividade"/>
				<element name="documentoAssociado" type="FTTHClickInterface:DocumentoAssociado"/>
				<element name="dataHoraAberturaOS" type="FTTHClickInterface:dataHoraInicio"/>
				<element name="mercadoUnidadeNegocio" type="FTTHClickInterface:mercadoUnidadeNegocio"/>
				<element name="telefoneContato1" type="FTTHClickInterface:telefoneContato"/>
				<element name="telefoneContato2" type="FTTHClickInterface:telefoneContato"/>
				<element name="telefoneContato3" type="FTTHClickInterface:telefoneContato"/>
				<element name="nomeSolicitante" type="FTTHClickInterface:nomeSolicitante"/>
				<element name="nomePlanoCliente" type="FTTHClickInterface:nomePlanoCliente"/>
				<element name="velocidadeContratada" type="FTTHClickInterface:velocidadeContratada"/>
				<element name="perfilCliente" type="FTTHClickInterface:perfilCliente"/>
				<element name="cpf" type="FTTHClickInterface:cpf"/>
				<element name="nomeDoCliente" type="FTTHClickInterface:nomeDoCliente"/>
				<element name="numeroLogico" type="FTTHClickInterface:numeroProduto"/>
				<element name="numeroFisico" type="FTTHClickInterface:numeroProduto"/>
				<element name="aprazado" type="FTTHClickInterface:aprazado"/>
				<element name="dataInstalacao" type="FTTHClickInterface:dataInstalacao"/>
				<element name="dataHoraIndicadorAnatel" type="FTTHClickInterface:dataHoraInicio"/>
				<element name="origem" type="FTTHClickInterface:origem"/>
				<element name="sistemaOrigem" type="FTTHClickInterface:origem"/>
				<element name="portabilidade" type="FTTHClickInterface:portabilidade"/>
				<element name="dataHoraPromessaOSouBD" type="FTTHClickInterface:dataHoraInicio"/>
				<element name="prioridadeBA" type="FTTHClickInterface:prioridadeBA"/>
				<element name="indicativoUtilidadePublica" type="FTTHClickInterface:indicador"/>
				<element name="reparoEmGarantia" type="FTTHClickInterface:indicador"/>
				<element name="codigoRoteamento" type="FTTHClickInterface:codigoRoteamento"/>
				<element name="tecnologiaExecutada" type="FTTHClickInterface:tecnologiaExecutada"/>
				<element name="tipoTerminal" type="FTTHClickInterface:tipoTerminal"/>
				<element name="siglaEstado" type="FTTHClickInterface:siglaEstado"/>
				<element name="acao" type="FTTHClickInterface:acao10"/>
				<element name="bundleId" type="FTTHClickInterface:bundleId"/>
				<element name="idUnico" type="FTTHClickInterface:bundleId"/>
				<element name="numeroBA" type="FTTHClickInterface:numeroBA"/>
				<element name="correlationId" type="FTTHClickInterface:correlationId"/>
				<element name="orderId" type="FTTHClickInterface:orderId"/>
				<element name="acessoGPON" type="FTTHClickInterface:acessoGPON"/>
				<element name="OLTGALC" type="FTTHClickInterface:OLTGALC"/>
				<element name="OLTRACK" type="FTTHClickInterface:OLTRACK"/>
				<element name="OLTSHELF" type="FTTHClickInterface:OLTSHELF"/>
				<element name="OLTSLOT" type="FTTHClickInterface:OLTSLOT"/>
				<element name="OLTPORT" type="FTTHClickInterface:OLTPORT"/>
				<element name="ICX" type="FTTHClickInterface:ICX"/>
				<element name="DGO" type="FTTHClickInterface:DGO"/>
				<element name="CDO" type="FTTHClickInterface:CDO"/>
				<element name="enderecoCDO" type="FTTHClickInterface:enderecoCDO"/>
				<element name="CDOCaminho" type="FTTHClickInterface:CDOCaminho"/>
				<element name="CEOCaminho" type="FTTHClickInterface:CEOCaminho"/>
				<element name="CEOSCaminho" type="FTTHClickInterface:CEOSCaminho"/>
				<element name="BSP" type="FTTHClickInterface:BSP"/>
				<element name="ARDO" type="FTTHClickInterface:ARDO"/>
				<element name="LINEID1" type="FTTHClickInterface:LINEID1"/>
				<element name="LINEID2" type="FTTHClickInterface:LINEID2"/>
				<element name="splitterPort" type="FTTHClickInterface:splitterPort"/>
				<element name="nomePlanoHSI" type="FTTHClickInterface:nomePlanoHSI"/>
				<element name="velocidadeUpload" type="FTTHClickInterface:velocidadeUpload"/>
				<element name="velocidadeDownload" type="FTTHClickInterface:velocidadeDownload"/>
				<element name="nomePlanoIPTV" type="FTTHClickInterface:nomePlanoIPTV"/>
				<element name="quantidadePontosIPTV" type="FTTHClickInterface:quantidadePontosIPTV"/>
				<element name="nomePlanoRFTV" type="FTTHClickInterface:nomePlanoRFTV"/>
				<element name="quantidadePontosRFTV" type="FTTHClickInterface:quantidadePontosRFTV"/>
				<element name="nomePlanoOTT" type="FTTHClickInterface:nomePlanoOTT"/>
				<element name="nomePlanoVoIP" type="FTTHClickInterface:nomePlanoVoIP"/>
				<element name="isCaixaPostal" type="FTTHClickInterface:isCaixaPostal"/>
				<element name="isBina" type="FTTHClickInterface:isBina"/>
				<element name="isChamadaEspera" type="FTTHClickInterface:isChamadaEspera"/>
				<element name="isConferencia" type="FTTHClickInterface:isConferencia"/>
				<element name="isSigame" type="FTTHClickInterface:isSigame"/>
				<element name="qtdPontosDVRGratis" type="FTTHClickInterface:qtdPontosDVRGratis"/>
				<element name="qtdPontosHDGratis" type="FTTHClickInterface:qtdPontosHDGratis"/>
				<element name="qtdPontosHDPago" type="FTTHClickInterface:qtdPontosHDPago"/>
				<element name="qtdPontosRFOverlay" type="FTTHClickInterface:qtdPontosRFOverlay"/>
				<element name="motivoRetirada" type="FTTHClickInterface:motivoRetirada"/>
				<element name="portabilidadeReceptora" type="FTTHClickInterface:portabilidadeReceptora"/>
				<element name="portabilidadeInterna" type="FTTHClickInterface:portabilidadeInterna"/>
				<element name="portabilidadeInternaComTrocaDeTecnologia" type="FTTHClickInterface:portabilidadeInternaComTrocaDeTecnologia"/>
				<element name="numeroSerieEquipamento" type="FTTHClickInterface:numeroSerieEquipamento"/>
				<element name="idAtivo" type="FTTHClickInterface:idAtivo"/>
				<element name="possuiDVRIntegrado" type="FTTHClickInterface:possuiDVRIntegrado"/>
				<element name="alertaPropensao" type="FTTHClickInterface:alertaPropensao"/>
				<element name="CVLAN1" type="FTTHClickInterface:CVLAN"/>
				<element name="CVLAN2" type="FTTHClickInterface:CVLAN"/>
				<element name="SVLAN1" type="FTTHClickInterface:SVLAN"/>
				<element name="SVLAN2" type="FTTHClickInterface:SVLAN"/>
				<element name="ocorrencia" type="FTTHClickInterface:ocorrencia"/>
				<element name="nomePacote" type="FTTHClickInterface:nomePacote"/>
				<element name="idHSI" type="FTTHClickInterface:identificador"/>
				<element name="idIPTV" type="FTTHClickInterface:identificador"/>
				<element name="idRFTV" type="FTTHClickInterface:identificador"/>
				<element name="idOTT" type="FTTHClickInterface:identificador"/>
				<element name="idVoIP" type="FTTHClickInterface:identificador"/>
				<element name="descricaoLivre" type="FTTHClickInterface:descricaoLivre"/>
			</sequence>
		</complexType>

</schema>
