Metadados/resources/schema/GestaoInventario.v1.0_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GestaoInventario" targetNamespace="http://www.oi.net.br/Recursos/GestaoInventario/v1.0" xmlns:tns="http://www.oi.net.br/Recursos/GestaoInventario/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:data1="http://www.oi.net.br/Recursos/GestaoInventario/ValidarEquipamentoFTTH/XSD/v1.0" xmlns:data2="http://www.oi.net.br/Recursos/GestaoInventario/NotificarValidacaoEquipamentoFTTH/XSD/v1.0" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <soap:annotation>
    <soap:documentation>PRJ: 
            Autor: Sander Bezerra
            versao: 1.0
            Data Publicacao: 28/07/2017 09:42:33
            Release: 2
            Data Release: 31/08/2017 09:42:33</soap:documentation>
  </soap:annotation>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:import namespace="http://www.oi.net.br/Recursos/GestaoInventario/ValidarEquipamentoFTTH/XSD/v1.0" schemaLocation="GestaoInventario.validarEquipamentoFTTH.v1.0.xsd"/>
      <xsd:import namespace="http://www.oi.net.br/Recursos/GestaoInventario/NotificarValidacaoEquipamentoFTTH/XSD/v1.0" schemaLocation="GestaoInventario.notificarValidacaoEquipamentoFTTH.v1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ValidarEquipamentoFTTHRequest">
    <wsdl:part name="ValidarEquipamentoFTTHRequest" element="data1:ValidarEquipamentoFTTHRequest"/>
  </wsdl:message>
  <wsdl:message name="ValidarEquipamentoFTTHResponse">
    <wsdl:part name="ValidarEquipamentoFTTHResponse" element="data1:ValidarEquipamentoFTTHResponse"/>
  </wsdl:message>
  <wsdl:message name="NotificarValidacaoEquipamentoFTTHRequest">
    <wsdl:part name="NotificarValidacaoEquipamentoFTTHRequest" element="data2:NotificarValidacaoEquipamentoFTTHRequest"/>
  </wsdl:message>
  <wsdl:message name="NotificarValidacaoEquipamentoFTTHResponse">
    <wsdl:part name="NotificarValidacaoEquipamentoFTTHResponse" element="data2:NotificarValidacaoEquipamentoFTTHResponse"/>
  </wsdl:message>
  <wsdl:portType name="GestaoInventarioPortType">
    <wsdl:operation name="ValidarEquipamentoFTTH">
      <wsdl:input message="tns:ValidarEquipamentoFTTHRequest"/>
      <wsdl:output message="tns:ValidarEquipamentoFTTHResponse"/>
    </wsdl:operation>
    <wsdl:operation name="NotificarValidacaoEquipamentoFTTH">
      <wsdl:input message="tns:NotificarValidacaoEquipamentoFTTHRequest"/>
      <wsdl:output message="tns:NotificarValidacaoEquipamentoFTTHResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestaoInventarioBinding" type="tns:GestaoInventarioPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="ValidarEquipamentoFTTH">
      <soap:operation soapAction="http://www.oi.net.br/Recursos/GestaoInventario/v1.0/GestaoInventario.ValidarEquipamentoFTTH"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarValidacaoEquipamentoFTTH">
      <soap:operation soapAction="http://www.oi.net.br/Recursos/GestaoInventario/v1.0/GestaoInventario.NotificarValidacaoEquipamentoFTTH"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestaoInventario">
    <wsdl:port binding="tns:GestaoInventarioBinding" name="GestaoInventarioPort">
      <soap:address location="TBD"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>