Metadados/resources/schema/ifaceCRM.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema targetNamespace="http://oi.com.br/ifaceCRM"
		xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:ifaceCRM="http://oi.com.br/ifaceCRM"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">




	<annotation>
		<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Namespace referente à interface do CRM.    &lt;/p&gt;</documentation>
		<appinfo>
			<label>CRM Interface</label>
		</appinfo>
	</annotation>

	<!-- Data types and elements -->

	<simpleType name="estornoPortabilidadeType">
		<annotation>
			<documentation>estornoPortabilidadeType</documentation>
		</annotation>
		<restriction base="xsd:string">
			<enumeration value="Y">
				<annotation>
					<documentation>Sim</documentation>
				</annotation>
			</enumeration>
			<enumeration value="N">
				<annotation>
					<documentation>Não</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="atributo_Acao">
		<annotation>
			<documentation>atributo_Acao</documentation>
		</annotation>
		<restriction base="xsd:string">
			<enumeration value="adicionar">
				<annotation>
					<documentation>adicionar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="remover">
				<annotation>
					<documentation>remover</documentation>
				</annotation>
			</enumeration>
			<enumeration value="modificar">
				<annotation>
					<documentation>modificar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="-">
				<annotation>
					<documentation>-</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="ItemDaOrdemType_Acao">
		<annotation>
			<documentation>ItemDaOrdemType_Acao</documentation>
		</annotation>
		<restriction base="xsd:string">
			<enumeration value="adicionar">
				<annotation>
					<documentation>adicionar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="remover">
				<annotation>
					<documentation>remover</documentation>
				</annotation>
			</enumeration>
			<enumeration value="modificar">
				<annotation>
					<documentation>modificar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="-">
				<annotation>
					<documentation>-</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<!-- Structures -->

	<complexType name="contaClienteType">
		<annotation>
			<documentation>contaClienteType</documentation>
		</annotation>
			<sequence>
				<element name="IdConta" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Status" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="NomeRazaoSocial" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="NomeConta" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="NumeroDoc" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="TipoDocumento" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="InscricaoEstadual" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="DataAtivacao" minOccurs="0" maxOccurs="1" type="xsd:date"/>
				<element name="UnidadeNegocio" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="SegmentoMercado" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Relacionamento" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CodCNAE" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="DtNascimento" minOccurs="0" maxOccurs="1" type="xsd:date"/>
				<element name="NomeMae" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Sexo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Email" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="IdEnderecoConta" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="TipoAssinante" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="RamoAtividade" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Ocupacao" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="EstadoCivil" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="TipoConta" minOccurs="1" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="listaEnderecos">
		<annotation>
			<documentation>listaEnderecos</documentation>
		</annotation>
			<sequence>
				<element name="Endereco" minOccurs="0" maxOccurs="unbounded" type="ifaceCRM:endereco"/>
			</sequence>
		</complexType>

	<complexType name="ListaDeContaFaturaType">
		<annotation>
			<documentation>ListaDeContaFaturaType</documentation>
		</annotation>
			<sequence>
				<element name="PerfilFatura" minOccurs="1" maxOccurs="unbounded" type="ifaceCRM:contaFaturaType"/>
			</sequence>
		</complexType>

	<complexType name="ItemDaOrdemType">
		<annotation>
			<documentation>ItemDaOrdemType</documentation>
		</annotation>
			<sequence>
				<element name="IdItemRootPedido" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="IdItemPedido" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="IdItemPaiPedido" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="IDPerfilFatura" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="IDContaCliente" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="IdAtivo" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Acao" minOccurs="1" maxOccurs="1" type="ifaceCRM:ItemDaOrdemType_Acao"/>
				<element name="StatusMeioAcesso" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="TipoProduto" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="MotivoRetirada" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="EstornoPortabilidade" minOccurs="0" maxOccurs="1" type="ifaceCRM:estornoPortabilidadeType"/>
				<element name="SPID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="IdCatalogo" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Nome" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="DataInicioServico" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="DataFimServico" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="DataMediacao" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
				<element name="DataIndicador" minOccurs="1" maxOccurs="1" type="xsd:dateTime"/>
				<element name="DataPromessa" minOccurs="1" maxOccurs="1" type="xsd:dateTime"/>
				<element name="IdEnderecoInstalacao" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Observacoes" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Contato" minOccurs="1" maxOccurs="1" type="ifaceCRM:ContatoType"/>
				<element name="ListaAtributos" minOccurs="1" maxOccurs="1" type="ifaceCRM:listaDeAtributos"/>
				<element name="itemStatus" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="itemOperation" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="DataExecucaoItem" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="AssetID" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="Pedido">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Estrutura de dados que contem informacoes do pedido.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>PedidoType</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="IdEvento" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="DataTransacao" minOccurs="1" maxOccurs="1" type="xsd:date"/>
				<element name="IdPedido" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Versao" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="TimeStamp" minOccurs="1" maxOccurs="1" type="xsd:dateTime"/>
				<element name="ContatoSolicitante" minOccurs="1" maxOccurs="1" type="ifaceCRM:ContatoType"/>
				<element name="ListaDeContaCliente" minOccurs="1" maxOccurs="1" type="ifaceCRM:ListaDeContaClienteType"/>
				<element name="ListaDePerfisFatura" minOccurs="1" maxOccurs="1" type="ifaceCRM:ListaDeContaFaturaType"/>
				<element name="ListaDeEndereco" minOccurs="1" maxOccurs="1" type="ifaceCRM:listaEnderecos"/>
				<element name="ListaDeItens" minOccurs="1" maxOccurs="1" type="ifaceCRM:ListaDeItensType"/>
			</sequence>
		</complexType>

	<complexType name="ListaDeContaClienteType">
		<annotation>
			<documentation>ListaDeContaClienteType</documentation>
		</annotation>
			<sequence>
				<element name="ContaCliente" minOccurs="1" maxOccurs="unbounded" type="ifaceCRM:contaClienteType"/>
			</sequence>
		</complexType>

	<element name="ProcessarOS" type="ifaceCRM:ProcessarOSType"/>

	<element name="AtualizarOS" type="ifaceCRM:RetornoType"/>

	<complexType name="ContatoType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data Structure que armazena informacoes de contato do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>ContatoType</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="CPF" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Nome" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="DtNascimento" minOccurs="1" maxOccurs="1" type="xsd:date"/>
				<element name="NomeMae" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Sexo" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Email" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="TelefoneContato1" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="TelefoneContato2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="TelefoneContato3" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="contaFaturaType">
		<annotation>
			<documentation>contaFaturaType</documentation>
		</annotation>
			<sequence>
				<element name="Status" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="IDPerfil" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="NroConta" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="TipoGoverno" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="MidiaEmissao" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="TipoFatura" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="CicloFatura" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="IsencaoICMS" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="EmpresaFaturamento" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="IdentificadorDACC" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="MetodoPagamento" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="NomeBanco" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="NroBanco" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Agencia" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="ContaCorrente" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="StatusSolicDACC" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="IdEnderecoCobranca" minOccurs="1" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="atributo">
		<annotation>
			<documentation>atributo</documentation>
		</annotation>
			<sequence>
				<element name="Nome" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Valor" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="ValorAntigo" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Acao" minOccurs="1" maxOccurs="1" type="ifaceCRM:atributo_Acao"/>
				<element name="TipoDados" minOccurs="1" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="ListaDeItensType">
		<annotation>
			<documentation>ListaDeItensType</documentation>
		</annotation>
			<sequence>
				<element name="ItemDaOrdem" minOccurs="1" maxOccurs="unbounded" type="ifaceCRM:ItemDaOrdemType"/>
			</sequence>
		</complexType>

	<complexType name="ProcessarOSType">
		<annotation>
			<documentation>ProcessarOSType</documentation>
		</annotation>
			<sequence>
				<element name="Ator" minOccurs="1" maxOccurs="1" type="ifaceCRM:AtorType"/>
				<element name="Pedido" minOccurs="1" maxOccurs="1" type="ifaceCRM:Pedido"/>
			</sequence>
		</complexType>

	<complexType name="listaDeAtributos">
		<annotation>
			<documentation>listaDeAtributos</documentation>
		</annotation>
			<sequence>
				<element name="Atributo" minOccurs="0" maxOccurs="unbounded" type="ifaceCRM:atributo"/>
			</sequence>
		</complexType>

	<complexType name="RetornoType">
		<annotation>
			<documentation>RetornoType</documentation>
		</annotation>
			<sequence>
				<element name="Numero_Pedido" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Versao" minOccurs="1" maxOccurs="1" type="xsd:integer"/>
				<element name="Lista_Itens_Pedido" minOccurs="1" maxOccurs="1" type="ifaceCRM:ListaItensPedidoType"/>
			</sequence>
		</complexType>

	<complexType name="ItemPedidoType">
		<annotation>
			<documentation>ItemPedidoType</documentation>
		</annotation>
			<sequence>
				<element name="Id_Item_Root_Pedido" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Id_Item_Pai_Pedido" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Id_Item_Pedido" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Dt_Hr_Fech_Item" minOccurs="1" maxOccurs="1" type="xsd:dateTime"/>
				<element name="Dt_Hr_Exec_Item" minOccurs="1" maxOccurs="1" type="xsd:dateTime"/>
				<element name="Obs" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Status_Item" minOccurs="1" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="AtorType">
		<annotation>
			<documentation>AtorType</documentation>
		</annotation>
			<sequence>
				<element name="Sistema" minOccurs="1" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="endereco">
		<annotation>
			<documentation>endereco</documentation>
		</annotation>
			<sequence>
				<element name="IdEndereco" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="TipoLogr" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="NomeLogr" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Numero" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="TipoCompl1" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="NroCompl1" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="TipoCompl2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="NroCompl2" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="TipoCompl3" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="NroCompl3" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="Bairro" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="CodLocalidade" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Localidade" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="Estado" minOccurs="1" maxOccurs="1" type="xsd:string"/>
				<element name="PontoRef" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="CEP" minOccurs="1" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="ListaItensPedidoType">
		<annotation>
			<documentation>ListaItensPedidoType</documentation>
		</annotation>
			<sequence>
				<element name="Item_Pedido" minOccurs="1" maxOccurs="unbounded" type="ifaceCRM:ItemPedidoType"/>
			</sequence>
		</complexType>

	<!-- Documents -->

</schema>
