Metadados/resources/schema/NotifyCancelScheduleResponseType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.oi.net.br/NEG/SN/WorkForceManager/v1" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.oi.net.br/NEG/SN/WorkForceManager/v1" xmlns:pref="http://www.oi.net.br/MD/OperationReturn/v1">
  <import schemaLocation="OperationReturn.xsd" namespace="http://www.oi.net.br/MD/OperationReturn/v1"/>
  <complexType name="NotifyCancelScheduleResponseType">
    <sequence>
      <element name="operationReturn" type="pref:OperationReturn"/>
    </sequence>
  </complexType>
  <element name="NotifyCancelScheduleResponse" type="tns:NotifyCancelScheduleResponseType"/>
</schema>