Metadados/resources/schema/NotifyEventRequestType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.oi.net.br/NEG/SN/WorkForceManager/v1" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.oi.net.br/NEG/SN/WorkForceManager/v1" xmlns:pref="http://www.oi.net.br/SID/CBE/Project/v1">
  <import schemaLocation="WorkOrderItem.xsd" namespace="http://www.oi.net.br/SID/CBE/Project/v1"/>
  <complexType name="NotifyEventRequestType">
    <sequence>
      <element name="workOrderItem" type="pref:WorkOrderItem" minOccurs="1" maxOccurs="1"/>
    </sequence>
  </complexType>
  <element name="notifyEventRequest" type="tns:NotifyEventRequestType"/>
</schema>