Metadados/resources/schema/RequestCallIdentificationTestRequestType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.oi.net.br/NEG/SN/WorkForceManager/v1" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.oi.net.br/NEG/SN/WorkForceManager/v1">
  <element name="requestCallIdentificationTestRequest" type="tns:RequestCallIdentificationTestRequestType"/>
  <complexType name="RequestCallIdentificationTestRequestType">
    <sequence>
      <element name="terminalNumber" type="string"/>
    </sequence>
  </complexType>
</schema>