Metadados/resources/schema/ResourceFacingService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.oi.net.br/SID/SVC/Service/v1" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.oi.net.br/SID/SVC/Service/v1">
  <complexType name="ResourceFacingService">
    <sequence>
      <element name="status" type="string" minOccurs="0" maxOccurs="1"/>
      <element name="testDate" type="dateTime" minOccurs="0" maxOccurs="1"/>
      <element name="testId" type="string" maxOccurs="1" minOccurs="0"/>
    </sequence>
  </complexType>
</schema>