Metadados/resources/schema/somOrder.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema targetNamespace="http://oi.com.br/som/order"
		xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:somOrder="http://oi.com.br/som/order"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"	
xmlns:cwf_system="http://www.conceptwave.com/com/conceptwave/system"
	xmlns:cwf="http://www.conceptwave.com/system"
	xmlns:cwt_pcdd="http://www.conceptwave.com/templates/pcdd">


	<import namespace="http://www.conceptwave.com/com/conceptwave/system" schemaLocation="cwf_system.xsd"/>
	<import namespace="http://www.conceptwave.com/system" schemaLocation="cwf.xsd"/>
	<import namespace="http://www.conceptwave.com/templates/pcdd" schemaLocation="cwt_pcdd.xsd"/>

	<annotation>
		<documentation>SOM Order</documentation>
	</annotation>

	<!-- Data types and elements -->

	<simpleType name="userLogin">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o login de usuario do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>userLogin</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="dispatcher">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o orgao expedidor do documento de identificacao do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Dispatcher</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="operationUpdateCode">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que contém o código de uma atualização de operação.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>operationUpdateCode</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="dateServiceEnd">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica a data do fim do servico.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Date Service End</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:dateTime">
		</restriction>
	</simpleType>

	<simpleType name="quantity">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que contém uma quantidade.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>quantity</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:integer">
		</restriction>
	</simpleType>

	<simpleType name="reserveFacilitieID">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o ID de uma facilidade de reserva.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Reserve Facilitie ID</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="neighborhood">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o bairro do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Neighborhood</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="number">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o numero do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Number</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="stateStateRegistration">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que contém a Incrição Estadual.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>StateStateExpedition</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="attributeValuePrevious">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o valor anterior de um atributo.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Previous Attribute Value</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="numberFixed">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o numero fixo do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Number Fixed</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="12"/>
		</restriction>
	</simpleType>

	<simpleType name="locationCode">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o codigo da localidade.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Location Code</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="alterationCode">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica um codigo de alteracao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Alteration Code</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="operationType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o tipo da operacao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>operationType</label>
			</appinfo>
		</annotation>
		<restriction base="cwf:cwDbEnum">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="contactName">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o nome do contato.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>contactName</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="activityType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o tipo de atividade do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>ActivityType</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="identificationNumber">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o numero de identificacao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>identificationNumber</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="billingCycleDay">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o dia do ciclo da fatura do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Billing Cycle Day</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="catalogID">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o ID no catalogo.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Catalog ID</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="cancellationReason">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o motivo do cancelamento do pedido.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Cancellation Reason</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="idActive">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o ID ativo.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>ID Active</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="activationDate">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica a data de ativacao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>activationDate</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:date">
		</restriction>
	</simpleType>

	<simpleType name="mediaType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o tipo de midia.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>mediaType</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="serviceProtocol">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o protocolo do servico.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>serviceProtocol</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="accountStatus">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Status relativo a conta cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>accountStatus</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="dueDate">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que contém uma data de expiração.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Duce Date</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:dateTime">
		</restriction>
	</simpleType>

	<simpleType name="dateExpedition">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que contém uma data de expedição.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Data Expedicao</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:dateTime">
		</restriction>
	</simpleType>

	<simpleType name="subscriberType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o tipo de inscricao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>SubscriberType</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="daccID">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o ID do DACC.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>daccID</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="customerType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o tipo de cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>customerType</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="itemStatus">
		<annotation>
			<documentation>itemStatus Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="24"/>
			<enumeration value="Aguardando Execução">
				<annotation>
					<documentation>NEW</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Em Aprovisionamento">
				<annotation>
					<documentation>EXEC</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Concluído">
				<annotation>
					<documentation>END</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Erro">
				<annotation>
					<documentation>ERROR</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="relationship">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o relacionamento da conta cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Relationship</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="accessStatus">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Status relativo ao meio de acesso.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Access Status</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="accountType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Tipo da conta cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>accountType</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="billingCycle">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o ciclo de faturamento.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>billingCycle</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="complementNumber">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o numero do complemento.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Complement Number</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="paymentMethod">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o metodo de pagamento.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>paymentMethod</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="bestHour">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica a melhor hora para contato com o cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Best Hour</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="accountRelationship">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o relacionamento da conta cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>accountRelationship</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="profileStatus">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o status do perfil do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>profileStatus</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="SOMOrderStates">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica os estados das ordens de servico no SOM.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>SOMOrderStates</label>
			</appinfo>
		</annotation>
		<restriction base="cwf:state">
			<enumeration value="NEW">
				<annotation>
					<documentation>New</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EXEC">
				<annotation>
					<documentation>Executing</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ERROR">
				<annotation>
					<documentation>Error</documentation>
				</annotation>
			</enumeration>
			<enumeration value="END">
				<annotation>
					<documentation>Complete</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="idItemRootOrder">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o ID do pedido root de um pedido.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>ID Item Root Order</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="documentNumber">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o numero do documento do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>documentNumber</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="gender">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o genero do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>gender</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="userName">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o username do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>userName</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="veloxOCT">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type com informacao sobre Velox OCT do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Velox OCT</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="cpf">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o CPF do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>CPF</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="dateMediacao">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica a data da mediacao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Date Mediacao</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:dateTime">
		</restriction>
	</simpleType>

	<simpleType name="orderID">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o ID da ordem do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Order ID</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="motherName">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o nome da mae do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>motherName</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="billingCompany">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o faturamento para empresas.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>billingCompany</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="cnaeCode">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o codigo CNAE.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>cnaeCode</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="addressInstallationID">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o ID da instalacao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Address Installation ID</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="reinstallationIdentificator">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o identificador de reinstalacao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Reinstallation Identificator</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="addressType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o tipo do endereco.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Address Type</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="addressID">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o ID do endereco do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Address ID</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="processMetadataName">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que contém o nome do processMetadata.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>processMetadataName</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="email">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o e-mail do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>email</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="orderCreationDate">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica a data da criacao da ordem.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>orderCreationDate</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:dateTime">
		</restriction>
	</simpleType>

	<simpleType name="birthday">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o aniversario do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>birthday</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:date">
		</restriction>
	</simpleType>

	<simpleType name="corporateName">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o nome da empresa.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>corporateName</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="contactID">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o ID de contato.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Contact ID</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="name">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o nome do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Name</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>

	<simpleType name="salesChannel">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o canal de vendas.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>salesChannel</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="orderItemID">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o ID do item da ordem.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Order Item ID</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="serviceOrderState">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica estado da ordem de servico.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Service Order State</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
			<enumeration value="NEW">
				<annotation>
					<documentation>Created</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EXEC">
				<annotation>
					<documentation>Executing</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TECHEX">
				<annotation>
					<documentation>Technical Error</documentation>
				</annotation>
			</enumeration>
			<enumeration value="FUNCEX">
				<annotation>
					<documentation>Functional Error</documentation>
				</annotation>
			</enumeration>
			<enumeration value="END">
				<annotation>
					<documentation>Complete</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="streetName">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o nome da rua do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Street Name</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="128"/>
		</restriction>
	</simpleType>

	<simpleType name="nationality">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica a nacionalidade do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Nationality</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="profileID">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o ID do perfil do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Profile ID</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="State">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica a UF do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>State</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="dateServiceStart">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica a data do inicio do servico.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Date Service Start</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:dateTime">
		</restriction>
	</simpleType>

	<simpleType name="dddFixed">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o DDD fixo do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>DDD Fixed</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="3"/>
		</restriction>
	</simpleType>

	<simpleType name="productType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o tipo do produto.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Product Type</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="appointedOSIdentifier">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica um modificador para a ordem de servico.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Appointed OS Identifier</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="executionGroup">
		<annotation>
			<documentation>Grupo de Execução</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="6"/>
		</restriction>
	</simpleType>

	<simpleType name="spid">
		<annotation>
			<documentation>spid</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="itemExecutionTime">
		<annotation>
			<documentation>Hora de Execução na Rede</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="temporaryInstallationIdentifier">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o identificador de instalacao temporaria.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Temporary Installation Identifier</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="bankName">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o nome do banco do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>bankName</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="transactionDate">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica a data da transacao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>transactionDate</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:dateTime">
		</restriction>
	</simpleType>

	<simpleType name="idInvoiceProfile">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o ID do perfil invoice do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>ID Invoice Profile</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="identificationType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o tipo de identificacao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>identificationType</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="businessUnit">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica a unidade de negocios do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>businessUnit</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="orderItemRootID">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que contém o ID do item root.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Root Order Item ID</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="attributeValue">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica um valor ao atributo que recebe uma acao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Attribute Value</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="idCustomerAccount">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o ID da conta cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>ID Customer Account</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="contactType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica um tipo de contato.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Contact Type</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="20"/>
			<enumeration value="applicant">
				<annotation>
					<documentation>applicant</documentation>
				</annotation>
			</enumeration>
			<enumeration value="owner">
				<annotation>
					<documentation>owner</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="itemSOCloseTime">
		<annotation>
			<documentation>itemSOCloseTime</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="20"/>
		</restriction>
	</simpleType>

	<simpleType name="contactPhoneNumber">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o telefone de contato.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>contactPhoneNumber</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="attributeType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o tipo do Atributo a receber uma acao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Attribute Type</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="removeReason">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o motivo de uma remocao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Remove Reason</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="maritalStatus">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o estado civil do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>maritalStatus</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="version">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica versao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Version</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="observation">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type para texto com observacoes.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>observation</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="idItemOrder">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o ID do item da ordem.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>ID Item Order</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="businessActivity">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica a atividade profissional do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>businessActivity</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="attributeAction">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica a acao sobre um atributo.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Attribute Action</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="attributeName">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o nome do atributo a receber uma acao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Attribute Name</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="itemOperation">
		<annotation>
			<documentation>itemOperation Type</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="6"/>
		</restriction>
	</simpleType>

	<simpleType name="governmentID">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o ID do governo.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>governmentID</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="migrationIdentificator">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que e o identificador de migracao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Migration Identificator</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="documentType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o tipo de documento do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>documentType</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="location">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica a localidade.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Location</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="processName">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;
  Nome do Processo de um determinado Produto.
&lt;/p&gt;</documentation>
			<appinfo>
				<label>processName</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<enumeration value="WLL - Ativação de Faturamento">
				<annotation>
					<documentation>WLL - Ativação de Faturamento</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Ativação de Pré-Ativo">
				<annotation>
					<documentation>WLL - Ativação de Pré-Ativo</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Ativação de Rede">
				<annotation>
					<documentation>WLL - Ativação de Rede</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Inclusão de Benefício">
				<annotation>
					<documentation>WLL - Inclusão de Benefício</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Bloqueio a Pedido do Cliente">
				<annotation>
					<documentation>WLL - Bloqueio a Pedido do Cliente</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Bloqueio por Fraude">
				<annotation>
					<documentation>WLL - Bloqueio por Fraude</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Bloqueio por Inadimplência">
				<annotation>
					<documentation>WLL - Bloqueio por Inadimplência</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Desbloqueio a pedido do Cliente">
				<annotation>
					<documentation>WLL - Desbloqueio a pedido do Cliente</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Desbloqueio por Fraude">
				<annotation>
					<documentation>WLL - Desbloqueio por Fraude</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Desbloqueio por Inadimplência">
				<annotation>
					<documentation>WLL - Desbloqueio por Inadimplência</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Desativação de Ativo">
				<annotation>
					<documentation>WLL - Desativação de Ativo</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Desativação de Pré-Ativo">
				<annotation>
					<documentation>WLL - Desativação de Pré-Ativo</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Desbloqueio em Confiança">
				<annotation>
					<documentation>WLL - Desbloqueio em Confiança</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Inclusão de Serviço">
				<annotation>
					<documentation>WLL - Inclusão de Serviço</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Exclusão de Serviço">
				<annotation>
					<documentation>WLL - Exclusão de Serviço</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Instalação">
				<annotation>
					<documentation>WLL - Instalação</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Modificação de Charging Area">
				<annotation>
					<documentation>WLL - Modificação de Charging Area</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Modificação de Simcard">
				<annotation>
					<documentation>WLL - Modificação de Simcard</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Mudança de Endereço Instalação">
				<annotation>
					<documentation>WLL - Mudança de Endereço Instalação</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Troca de Número">
				<annotation>
					<documentation>WLL - Troca de Número</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Mudança de Titularidade">
				<annotation>
					<documentation>WLL - Mudança de Titularidade</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Portabilidade Externa Doadora">
				<annotation>
					<documentation>WLL - Portabilidade Externa Doadora</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Portabilidade Externa Receptora">
				<annotation>
					<documentation>WLL - Portabilidade Externa Receptora</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Portabilidade Interna com Mudança de Tecnologia">
				<annotation>
					<documentation>WLL - Portabilidade Interna com Mudança de Tecnologia</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Portabilidade Externa Reconexão">
				<annotation>
					<documentation>WLL - Portabilidade Externa Reconexão</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Portabilidade Interna sem Mudança de Tecnologia">
				<annotation>
					<documentation>WLL - Portabilidade Interna sem Mudança de Tecnologia</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Inclusão de Recarga Automática">
				<annotation>
					<documentation>WLL - Inclusão de Recarga Automática</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Suspensão">
				<annotation>
					<documentation>WLL - Suspensão</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Troca de Plano">
				<annotation>
					<documentation>WLL - Troca de Plano</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Exclusão de Recarga Automática">
				<annotation>
					<documentation>WLL - Exclusão de Recarga Automática</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Exclusão de Benefício">
				<annotation>
					<documentation>WLL - Exclusão de Benefício</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Bloqueio por Vitima de Fraude">
				<annotation>
					<documentation>WLL - Bloqueio por Vitima de Fraude</documentation>
				</annotation>
			</enumeration>
			<enumeration value="WLL - Desbloqueio por Vitima de Fraude">
				<annotation>
					<documentation>WLL - Desbloqueio por Vitima de Fraude</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="string24">
		<annotation>
			<documentation>String 24</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="24"/>
		</restriction>
	</simpleType>

	<simpleType name="stateExpedition">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o estado que o documento do cliente foi expeditado.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>StateExpedition</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>

	<simpleType name="orderItemParentID">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que contém  o ID do pai de um item da ordem.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Parent Order Item ID</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="bankAgency">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o numero da agencia do banco do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>bankAgency</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="referencePoint">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica um ponto de referencia para o cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Reference Point</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="zipCode">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o zip code do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Zip Code</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="streetID">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o ID da rua do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Street ID</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="action">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Texto que define uma acao sobre a conta.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Action</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="locationSymbol">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o simbolo da localidade.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Location Symbol</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="idItemParentOrder">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o ID do pedido pai de um pedido.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>ID Item Parent Order</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="occupation">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica a ocupacao do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>occupation</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="orderState">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o estado da ordem.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>orderState</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
			<enumeration value="CREATED">
				<annotation>
					<documentation>Created</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EXECUTING">
				<annotation>
					<documentation>Executing</documentation>
				</annotation>
			</enumeration>
			<enumeration value="COMPLETE">
				<annotation>
					<documentation>Complete</documentation>
				</annotation>
			</enumeration>
			<enumeration value="TECHERROR">
				<annotation>
					<documentation>Technical Error</documentation>
				</annotation>
			</enumeration>
			<enumeration value="FUNCERROR">
				<annotation>
					<documentation>Functional Error</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="seqTrechoLogra">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que contem o codigo sequencial do logradouro do endereco.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Seq Trecho Logra</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="invoiceType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o tipo de invoice.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>invoiceType</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="principalContact">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o contato principal do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>principalContact</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="string32">
		<annotation>
			<documentation>String 24</documentation>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="32"/>
		</restriction>
	</simpleType>

	<simpleType name="mainContact">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o contato principal do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>MainContact</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="flagPortingIntention">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que e uma flag para intencao de portabilidade.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Flag Porting Intention</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:boolean">
		</restriction>
	</simpleType>

	<simpleType name="operationState">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o estado da operacao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Operation State</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
			<enumeration value="NEW">
				<annotation>
					<documentation>Created</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EXEC">
				<annotation>
					<documentation>Executing</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ERROR">
				<annotation>
					<documentation>Error</documentation>
				</annotation>
			</enumeration>
			<enumeration value="SUSPEND">
				<annotation>
					<documentation>Suspended</documentation>
				</annotation>
			</enumeration>
			<enumeration value="CANCEL">
				<annotation>
					<documentation>Cancelled</documentation>
				</annotation>
			</enumeration>
			<enumeration value="END">
				<annotation>
					<documentation>Ended</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

	<simpleType name="stateRegistration">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o estado que o documento do cliente foi registrado.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>StateRegistration</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="bankAccountNumber">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o numero da conta corrente do banco do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>bankAccountNumber</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="governmentType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o tipo de governo.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>governmentType</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="complement">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica um tipo de complemento.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>complement</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="marketSegment">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o segmento de mercado do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>marketSegment</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="taxExemption">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica isencao de imposto.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>taxExemption</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="streetType">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o tipo da rua do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Street Type</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="8"/>
		</restriction>
	</simpleType>

	<simpleType name="accountID">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      ID da conta cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Account ID</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="updatedDate">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica a data de atualizacao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>updatedDate</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:dateTime">
		</restriction>
	</simpleType>

	<simpleType name="daccRequestStatus">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o status da solicitacao de DACC.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>daccRequestStatus</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
		</restriction>
	</simpleType>

	<simpleType name="bankNumber">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o numero do banco do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>bankNumber</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="eventID">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica o ID do evento.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Event ID</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="accountName">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Nome da conta cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>accountName</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="64"/>
		</restriction>
	</simpleType>

	<simpleType name="indicatorDate">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica a data do indicador.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Indicator Date</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:dateTime">
		</restriction>
	</simpleType>

	<simpleType name="removeAction">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica uma acao de remocao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Remove Action</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>

	<simpleType name="mainOccupation">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data type que indica a ocupacao principal do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>MainOccupation</label>
			</appinfo>
		</annotation>
		<restriction base="xsd:string">
			<maxLength value="24"/>
		</restriction>
	</simpleType>

	<!-- Structures -->

	<complexType name="operations">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data structure que armazena um tipo de operacao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>operations</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="type" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="operationUpdate">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Estrutura de dados que contém a atualização de alguma operação.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>operationUpdate</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="code" minOccurs="0" maxOccurs="1" type="somOrder:operationUpdateCode"/>
				<element name="operation" minOccurs="0" maxOccurs="1" type="somOrder:operationType"/>
				<element name="orderId" minOccurs="0" maxOccurs="1" type="cwf:orderId"/>
				<element name="processId" minOccurs="0" maxOccurs="1" type="cwf:processId"/>
				<element name="idPedido" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="rootItem" minOccurs="0" maxOccurs="1" type="xsd:string"/>
			</sequence>
		</complexType>

	<complexType name="productOperationsList">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data structure que armazena uma lista de operacoes a serem realizadas em um pedido.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>productOperationsList</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="productOperationType" minOccurs="0" maxOccurs="unbounded" type="somOrder:productOperation"/>
			</sequence>
		</complexType>

	<complexType name="productOperation">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Data structure que armazena uma operacao e um pedido para ser realizada a operacao.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>productOperation</label>
			</appinfo>
		</annotation>
			<sequence>
				<element name="rootItem" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="productType" minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<element name="operationList" minOccurs="0" maxOccurs="unbounded" type="somOrder:operations"/>
			</sequence>
		</complexType>

	<!-- Documents -->

	<complexType name="Attribute">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Document com informacoes sobre o item pedido.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Attribute</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="cwf_system:Document">
					<sequence>
						<element name="cwDocId" type="cwf:cwDocId"/>
						<element name="cwDocStamp" type="cwf:cwDocStamp"/>
						<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
						<element name="cwOrderId" type="cwf:cwOrderId"/>
						<element name="cwParentId" type="cwf:cwParentId"/>
						<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
						<element name="updatedBy" type="cwf:updatedBy"/>
						<element name="name" type="somOrder:attributeName"/>
						<element name="value" type="somOrder:attributeValue"/>
						<element name="action" type="somOrder:attributeAction"/>
						<element name="type" type="somOrder:attributeType"/>
						<element name="valuePrevious" type="somOrder:attributeValuePrevious"/>
					</sequence>
						</extension>
					</complexContent>
				</complexType>

	<complexType name="Header">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Document com informacoes sobre a compra do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Header</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="cwf_system:Document">
					<sequence>
						<element name="cwDocId" type="cwf:cwDocId"/>
						<element name="cwDocStamp" type="cwf:cwDocStamp"/>
						<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
						<element name="cwOrderId" type="cwf:cwOrderId"/>
						<element name="cwParentId" type="cwf:cwParentId"/>
						<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
						<element name="updatedBy" type="cwf:updatedBy"/>
						<element name="transactionDate" type="somOrder:transactionDate"/>
						<element name="eventID" type="somOrder:eventID"/>
						<element name="orderID" type="somOrder:orderID"/>
						<element name="version" type="somOrder:version"/>
						<element name="Timestamp" type="xsd:dateTime"/>
						<element name="previousOrderId" type="somOrder:orderID"/>
						<element name="nextOrderId" type="somOrder:orderID"/>
						<element name="cwOrderEndDate" type="cwt_pcdd:endDate"/>
						<element name="restartProcess" type="xsd:boolean"/>
					</sequence>
						</extension>
					</complexContent>
				</complexType>

	<complexType name="OperationSearch">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Document contendo a pesquisa de operações.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>OperationSearch</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="cwf_system:Document">
					<sequence>
						<element name="cwOrderId" type="cwf:cwOrderId"/>
						<element name="operationState" type="somOrder:operationState"/>
					</sequence>
						</extension>
					</complexContent>
				</complexType>

	<complexType name="SOMOrderInstance">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Document com informacoes sobre uma instancia de ordem de servico.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>SOM Order Instance</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="cwf_system:Document">
					<sequence>
						<element name="cwDocId" type="cwf:cwDocId"/>
						<element name="eventID" type="somOrder:eventID"/>
						<element name="orderID" type="somOrder:orderID"/>
						<element name="version" type="somOrder:version"/>
						<element name="state" type="somOrder:SOMOrderStates"/>
						<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
					</sequence>
						</extension>
					</complexContent>
				</complexType>

	<complexType name="DependentOperation">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Document contendo a relação das operações dependentes.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Dependent Operation</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="cwf_system:Document">
					<sequence>
						<element name="cwDocId" type="cwf:cwDocId"/>
						<element name="executionGroup" type="somOrder:executionGroup"/>
						<element name="productType" type="somOrder:productType"/>
						<element name="operation" type="somOrder:operationType"/>
						<element name="prerequisiteProductType" type="somOrder:productType"/>
						<element name="prerequisiteOperation" type="somOrder:operationType"/>
					</sequence>
						</extension>
					</complexContent>
				</complexType>

	<complexType name="inflightOrdersDoc">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Document contendo as ordens a serem processadas.    &lt;/p&gt;</documentation>
			<appinfo>
				<label></label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="cwf_system:Document">
					<sequence>
						<element name="operationState" type="somOrder:operationState"/>
						<element name="quantity" type="somOrder:quantity"/>
					</sequence>
						</extension>
					</complexContent>
				</complexType>

	<complexType name="SOMOrderSearch">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Document com informacoes sobre uma pesquisa por ordem de cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>SOM Order Search</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="cwf_system:Document">
					<sequence>
						<element name="eventID" type="somOrder:eventID"/>
						<element name="orderID" type="somOrder:orderID"/>
						<element name="version" type="somOrder:version"/>
						<element name="state" type="somOrder:SOMOrderStates"/>
					</sequence>
						</extension>
					</complexContent>
				</complexType>

	<complexType name="histogramOrdersDoc">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Document contendo um histograma das ordens de cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>histogramOrdersDoc</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="cwf_system:Document">
					<sequence>
						<element name="dia" type="xsd:string"/>
						<element name="startDate" type="xsd:string"/>
						<element name="EXEC" type="somOrder:operationState"/>
						<element name="ERROR" type="somOrder:operationState"/>
						<element name="SUSPEND" type="somOrder:operationState"/>
						<element name="END" type="somOrder:operationState"/>
						<element name="CANCEL" type="somOrder:operationState"/>
					</sequence>
						</extension>
					</complexContent>
				</complexType>

	<complexType name="IsolatedOperation">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Document contendo as operações isoladas.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Isolated Operation</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="cwf_system:Document">
					<sequence>
						<element name="operation" type="somOrder:operationType"/>
						<element name="productType" type="somOrder:productType"/>
					</sequence>
						</extension>
					</complexContent>
				</complexType>

	<complexType name="BillingProfile">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Document com informacoes sobre perfil de fatura cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Billing Profile</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="cwf_system:Document">
					<sequence>
						<element name="cwDocId" type="cwf:cwDocId"/>
						<element name="cwDocStamp" type="cwf:cwDocStamp"/>
						<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
						<element name="cwOrderId" type="cwf:cwOrderId"/>
						<element name="cwParentId" type="cwf:cwParentId"/>
						<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
						<element name="updatedBy" type="cwf:updatedBy"/>
						<element name="profileStatus" type="somOrder:profileStatus"/>
						<element name="profileID" type="somOrder:profileID"/>
						<element name="accountID" type="somOrder:accountID"/>
						<element name="governmentType" type="somOrder:governmentType"/>
						<element name="mediaType" type="somOrder:mediaType"/>
						<element name="invoiceType" type="somOrder:invoiceType"/>
						<element name="billingCycle" type="somOrder:billingCycle"/>
						<element name="taxExemption" type="somOrder:taxExemption"/>
						<element name="billingCompany" type="somOrder:billingCompany"/>
						<element name="daccID" type="somOrder:daccID"/>
						<element name="paymentMethod" type="somOrder:paymentMethod"/>
						<element name="bankName" type="somOrder:bankName"/>
						<element name="bankNumber" type="somOrder:bankNumber"/>
						<element name="bankAgency" type="somOrder:bankAgency"/>
						<element name="bankAccountNumber" type="somOrder:bankAccountNumber"/>
						<element name="daccRequestStatus" type="somOrder:daccRequestStatus"/>
						<element name="addressID" type="somOrder:addressID"/>
					</sequence>
						</extension>
					</complexContent>
				</complexType>

	<complexType name="Address">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Document com informacoes do endereco do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Address</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="cwf_system:Document">
					<sequence>
						<element name="cwDocId" type="cwf:cwDocId"/>
						<element name="cwDocStamp" type="cwf:cwDocStamp"/>
						<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
						<element name="cwOrderId" type="cwf:cwOrderId"/>
						<element name="cwParentId" type="cwf:cwParentId"/>
						<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
						<element name="updatedBy" type="cwf:updatedBy"/>
						<element name="addressID" type="somOrder:addressID"/>
						<element name="streetType" type="somOrder:streetType"/>
						<element name="streetName" type="somOrder:streetName"/>
						<element name="numberAddress" type="somOrder:number"/>
						<element name="complementNumber1" type="somOrder:complementNumber"/>
						<element name="complement1" type="somOrder:complement"/>
						<element name="complementNumber2" type="somOrder:complementNumber"/>
						<element name="complement2" type="somOrder:complement"/>
						<element name="complementNumber3" type="somOrder:complementNumber"/>
						<element name="complement3" type="somOrder:complement"/>
						<element name="neighborhood" type="somOrder:neighborhood"/>
						<element name="locationCode" type="somOrder:locationCode"/>
						<element name="locationArea" type="somOrder:location"/>
						<element name="State" type="somOrder:State"/>
						<element name="referencePoint" type="somOrder:referencePoint"/>
						<element name="zipCode" type="somOrder:zipCode"/>
					</sequence>
						</extension>
					</complexContent>
				</complexType>

	<complexType name="Operation">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Document com informacoes sobre as operacoes do sistema.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Operation</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="cwf_system:Document">
					<sequence>
						<element name="cwDocId" type="cwf:cwDocId"/>
						<element name="cwDocStamp" type="cwf:cwDocStamp"/>
						<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
						<element name="cwOrderId" type="cwf:cwOrderId"/>
						<element name="cwParentId" type="cwf:cwParentId"/>
						<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
						<element name="updatedBy" type="cwf:updatedBy"/>
						<element name="type" type="somOrder:operationType"/>
						<element name="productType" type="somOrder:productType"/>
						<element name="productId" type="somOrder:idItemOrder"/>
						<element name="processMetadataName" type="somOrder:processMetadataName"/>
						<element name="processId" type="cwf:processId"/>
						<element name="operationState" type="somOrder:operationState"/>
						<element name="billingState" type="somOrder:serviceOrderState"/>
						<element name="inventoryState" type="somOrder:serviceOrderState"/>
						<element name="mediationState" type="somOrder:serviceOrderState"/>
						<element name="provisioningState" type="somOrder:serviceOrderState"/>
						<element name="crmState" type="somOrder:serviceOrderState"/>
						<element name="nodeId" type="cwf:String64"/>
					</sequence>
						</extension>
					</complexContent>
				</complexType>

	<complexType name="Prerequisite">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Document contendo os pré-requisitos.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Prerequisite</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="cwf_system:Document">
					<sequence>
						<element name="prerequisiteId" type="cwf:docId"/>
						<element name="dependentId" type="cwf:docId"/>
						<element name="state" type="somOrder:operationState"/>
					</sequence>
						</extension>
					</complexContent>
				</complexType>

	<complexType name="operationRules">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Document com informacoes sobre as regras para operacoes.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Service Order Operation Rules</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="cwf_system:Document">
					<sequence>
						<element name="rootItem" type="somOrder:string24"/>
						<element name="rootAction" type="somOrder:string24"/>
						<element name="ruleItemName" type="somOrder:string32"/>
						<element name="ruleItemAction" type="somOrder:string32"/>
						<element name="ruleItemType" type="somOrder:string24"/>
						<element name="ruleItemLevel" type="somOrder:string24"/>
						<element name="ruleItemOperator" type="somOrder:string24"/>
						<element name="soOperation" type="somOrder:operationType"/>
						<element name="cwCreated" type="cwf:cwCreated"/>
						<element name="cwDocType" type="cwf:cwDocType"/>
						<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
						<element name="cwOrderId" type="cwf:cwOrderId"/>
						<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
						<element name="updatedBy" type="cwf:updatedBy"/>
						<element name="cwDocId" type="cwf:cwDocId"/>
					</sequence>
						</extension>
					</complexContent>
				</complexType>

	<complexType name="Account">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Document com informacoes da conta cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Account</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="cwf_system:Document">
					<sequence>
						<element name="cwDocId" type="cwf:cwDocId"/>
						<element name="cwDocStamp" type="cwf:cwDocStamp"/>
						<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
						<element name="cwOrderId" type="cwf:cwOrderId"/>
						<element name="cwParentId" type="cwf:cwParentId"/>
						<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
						<element name="updatedBy" type="cwf:updatedBy"/>
						<element name="accountID" type="somOrder:accountID"/>
						<element name="status" type="somOrder:accountStatus"/>
						<element name="corporateName" type="somOrder:corporateName"/>
						<element name="accountName" type="somOrder:accountName"/>
						<element name="documentNumber" type="somOrder:documentNumber"/>
						<element name="documentType" type="somOrder:documentType"/>
						<element name="activationDate" type="somOrder:activationDate"/>
						<element name="businessUnit" type="somOrder:businessUnit"/>
						<element name="marketSegment" type="somOrder:marketSegment"/>
						<element name="relationship" type="somOrder:accountRelationship"/>
						<element name="cnaeCode" type="somOrder:cnaeCode"/>
						<element name="birthday" type="somOrder:birthday"/>
						<element name="motherName" type="somOrder:motherName"/>
						<element name="gender" type="somOrder:gender"/>
						<element name="email" type="somOrder:email"/>
						<element name="addressID" type="somOrder:addressID"/>
						<element name="customerType" type="somOrder:customerType"/>
						<element name="businessActivity" type="somOrder:businessActivity"/>
						<element name="occupation" type="somOrder:occupation"/>
						<element name="maritalStatus" type="somOrder:maritalStatus"/>
						<element name="accountType" type="somOrder:accountType"/>
						<element name="stateRegistration" type="somOrder:stateRegistration"/>
						<element name="updatedDate" type="somOrder:updatedDate"/>
					</sequence>
						</extension>
					</complexContent>
				</complexType>

	<complexType name="Contact">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Document com informacoes sobre o contato do cliente.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Contact</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="cwf_system:Document">
					<sequence>
						<element name="cwDocId" type="cwf:cwDocId"/>
						<element name="cwDocStamp" type="cwf:cwDocStamp"/>
						<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
						<element name="cwOrderId" type="cwf:cwOrderId"/>
						<element name="cwParentId" type="cwf:cwParentId"/>
						<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
						<element name="updatedBy" type="cwf:updatedBy"/>
						<element name="contactID" type="somOrder:contactID"/>
						<element name="name" type="somOrder:contactName"/>
						<element name="birthday" type="somOrder:birthday"/>
						<element name="motherName" type="somOrder:motherName"/>
						<element name="gender" type="somOrder:gender"/>
						<element name="email" type="somOrder:email"/>
						<element name="contactPhoneNumber1" type="somOrder:contactPhoneNumber"/>
						<element name="contactPhoneNumber2" type="somOrder:contactPhoneNumber"/>
						<element name="contactPhoneNumber3" type="somOrder:contactPhoneNumber"/>
						<element name="contactType" type="somOrder:contactType"/>
					</sequence>
						</extension>
					</complexContent>
				</complexType>

	<complexType name="OrderItem">
		<annotation>
			<documentation>&lt;p style=&#34;margin-top: 0&#34;&gt;      Document com informacoes sobre um item da ordem.    &lt;/p&gt;</documentation>
			<appinfo>
				<label>Order Item</label>
			</appinfo>
		</annotation>
			<complexContent>
				<extension base="cwf_system:Document">
					<sequence>
						<element name="Timestamp" type="xsd:dateTime"/>
						<element name="accessStatus" type="somOrder:accessStatus"/>
						<element name="action" type="somOrder:action"/>
						<element name="activeId" type="somOrder:idActive"/>
						<element name="addressInstallationID" type="somOrder:addressInstallationID"/>
						<element name="appointedOSIdentifier" type="somOrder:appointedOSIdentifier"/>
						<element name="cancellationReason" type="somOrder:cancellationReason"/>
						<element name="catalogID" type="somOrder:catalogID"/>
						<element name="customerAccountId" type="somOrder:idCustomerAccount"/>
						<element name="cwDocId" type="cwf:cwDocId"/>
						<element name="cwDocStamp" type="cwf:cwDocStamp"/>
						<element name="cwOrderCreationDate" type="cwf:cwOrderCreationDate"/>
						<element name="cwOrderId" type="cwf:cwOrderId"/>
						<element name="cwParentId" type="cwf:cwParentId"/>
						<element name="dateMediacao" type="somOrder:dateMediacao"/>
						<element name="dateServiceEnd" type="somOrder:dateServiceEnd"/>
						<element name="dateServiceStart" type="somOrder:dateServiceStart"/>
						<element name="dueDate" type="somOrder:dueDate"/>
						<element name="indicatorDate" type="somOrder:indicatorDate"/>
						<element name="invoiceProfileId" type="somOrder:idInvoiceProfile"/>
						<element name="itemExecutionTime" type="somOrder:itemExecutionTime"/>
						<element name="itemOperation" type="somOrder:itemOperation"/>
						<element name="itemSOCloseTime" type="somOrder:itemSOCloseTime"/>
						<element name="itemStatus" type="somOrder:itemStatus"/>
						<element name="lastUpdatedDate" type="cwf:lastUpdatedDate"/>
						<element name="name" type="somOrder:name"/>
						<element name="observation" type="somOrder:observation"/>
						<element name="orderItemId" type="somOrder:idItemOrder"/>
						<element name="parentOrderItemId" type="somOrder:idItemParentOrder"/>
						<element name="productType" type="somOrder:productType"/>
						<element name="removeAction" type="somOrder:removeAction"/>
						<element name="removeReason" type="somOrder:removeReason"/>
						<element name="rootOrderItemId" type="somOrder:idItemRootOrder"/>
						<element name="temporaryInstallId" type="somOrder:temporaryInstallationIdentifier"/>
						<element name="updatedBy" type="cwf:updatedBy"/>
						<element name="SPID" type="somOrder:spid"/>
					</sequence>
						</extension>
					</complexContent>
				</complexType>

</schema>
